@import './calendar/style';
@import './calendar/theme';
@import './common/fonts';
@import './common/variable';
@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.btl-rotating {
	animation: rotating 3s linear infinite;
}
.betterlinks-body {
	padding-top: 20px;
	padding-right: 20px;
	@import './common/reboot';
	@import './common/form';
	@import './components/topbar';
	@import './components/category';
	@import './components/link';
	@import './components/list-view';
	@import './components/analytics';
	@import './components/tab';
	@import './components/doc';
	@import './components/broken-links';
	@import './components/modal';
}
body {
	&.betterlinks-dark-mode {
		background: #36405a;
		.betterlinks-body {
			@import './control/plugin-mode';
		}
		@import './control/plugin-mode-modal';
		#wpfooter {
			color: $white;
			a {
				color: $success-lighten;
			}
		}
		.btl-modal-utm-builder .btl-modal-utm-builder__body .btl-modal-utm-builder__form-group button[type='button'],
		.btl-modal-utm-builder__title,
		.btl-analytic-advanced-search h3,
		.btl-confirmation-alert .btl-confirmation-buttons button:nth-child(2) {
			color: $white;
		}
		.btl-analytic-table-wrapper {
			.btl-analytic-link-name i.btl-analytics {
				border: 1px solid $white;
			}
		}
		.rmsc.multi-select * {
			background: #252f47;
			border-color: #36405a;
			color: #fff;
		}
	}
	> .btl-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		z-index: 99;
		opacity: 0.65;
	}
}
.btl-date-range-picker-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	.btl-date-range-picker {
		position: relative;
		display: inline-block;
		background: white;
		border-radius: 6px;
		margin: auto;
		.btn-date-range-close {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 999;
			border: 0;
			background: transparent;
			outline: none;
			color: $secondary-lighten;
			padding: 5px 5px;
			cursor: pointer;
		}
		.rdrDateRangePickerWrapper .rdrInputRanges {
			display: none;
		}
	}
}
.btl-tooltip {
	position: relative;
	display: inline-block;
	line-height: 1;
	.btl-tooltiptext {
		visibility: hidden;
		width: 120px;
		background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
		font-size: 14px;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
		z-index: 1;
		bottom: 150%;
		left: 50%;
		transform: translateX(-50%);
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #003be2 transparent transparent transparent;
		}
	}
	&:hover .btl-tooltiptext {
		visibility: visible;
	}
}
.betterlinks-auto-create-link {
	.btl-tooltip {
		padding: 0;
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;
		text-align: inherit;
		border-radius: 0;
		appearance: none; // Just in case we missed anything.
		margin-left: 3px;
		cursor: pointer;

		.btl-tooltiptext {
			width: 60px;
			font-size: 8px;
		}
	}
}

@import './components/modal';
@import './components/utm_builder';

// expire status circle styles starts

span.btl-expire-status-dot {
	height: 0;
	width: 0;
	border-radius: 50%;
	display: inline-block;
	padding: 5px;
}

.btl-expire-status-dot-parent .btl-tooltiptext {
	width: 90px;
	text-transform: capitalize;
}

.betterlinks-body .btl-list-view .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell .dnd-link-button.btl-tooltip.btl-expire-status-dot-parent {
	margin: 0;
	padding: 0;
}

.betterlinks-body .dnd-link-button.btl-tooltip.btl-expire-status-dot-parent,
.betterlinks-body .btl-list-view .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell .dnd-link-button.btl-tooltip.btl-expire-status-dot-parent {
	margin-right: 10px;
}

span.btl-expire-status-dot.publish {
	background-color: #0bb876;
}

span.btl-expire-status-dot.expired {
	background-color: #dc143c;
}

span.btl-expire-status-dot.scheduled {
	background-color: #1e90ff;
}

span.btl-expire-status-dot.draft {
	background-color: #f8e00b;
}

// expire status circle styles ends

// list view 'rows per page' select broken icon design fix start

#betterlinksbody .rdt_Pagination select[aria-label='Rows per page:'] {
	background-image: none;
}

#betterlinksbody .rdt_Pagination select[aria-label='Rows per page:'] + svg {
	top: 50%;
	transform: translateY(-50%);
}

// list view 'rows per page' select broken icon design fix end

// autolink keywords' 'keywords' input field's new extra label css start
label.extra_info_keywords {
	color: #777;
}

label.extra_info_keywords > input#keywords {
	margin-bottom: 5px;
}
// autolink keywords' 'keywords' input field's new extra label css end

// mark as favorite button tooltip css start
.btl-fav-link.btl-tooltip .btl-tooltiptext {
	width: 130px;
	z-index: 33333;
}
// mark as favorite button tooltip css ends

//

.btl-modal-select--full.btl-modal-select-need-pro-teaser .btl-react-select__menu-list > div:nth-child(4) {
	&:after {
		content: 'pro';
		background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
		color: #fff;
		border-radius: 2px;
		padding: 3px 6px;
		font-size: 10px;
		margin-left: 3px;
		line-height: 1;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		border-radius: 2px;
		transform: translateY(-10px);
	}
}

//

// external analytics teaser UI css start
.btl-external-analytics-container.teaser > form.form > .btl-role-item > label.btl-form-label {
	width: 72%;
	padding-right: 15px;
}
// external analytics teaser UI css end

//
// react select design break fix: Disable Auto-link keywords for Post Types start
.betterlinks-body .btl-form-group.btl-general-tab-settings-react-select {
	.btl-modal-select--full {
		width: auto !important;
		min-width: 260px;
	}
	.btl-modal-select--full .btl-react-select__control {
		height: auto;
	}
	.btl-form-field label.btl-checkbox-field {
		display: flex;
	}
}

// react select design break fix: Disable Auto-link keywords for Post Types end
//

//
// betterlinks reset analytics css start
.btl-analytic-reset-wrapeer {
	button {
		display: block;
		border: 1px solid #0afa;
		background: #0af;
		color: #fff;
		padding: 10px;
		cursor: pointer;
		margin: 10px 0;
		border-radius: 5px;
		&:hover {
			background: #09e;
		}
	}
	button.btl-reset-analytics-initial-button {
		margin-right: 20px !important;
		padding: 5px 30px !important;
	}
}
body.betterlinks-delete-clicks-modal-popup-opened {
	h2 span.success_delete_count {
		color: red;
		font-size: 90px;
	}
	button.btl-btn-reset-apply-1 {
		margin: 0 !important;
		width: 100px;
	}
	.btl-reset-modal-popup-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		span.btl-close-popup {
			position: absolute;
			left: 100%;
			top: 0;
			height: 30px;
			width: 30px;
			background: #fff9;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
	.btl-reset-modal-popup {
		margin: 0;
		padding: 0;
		&.btl-reset-modal-popup-step-1 > h2 {
			display: block;
			text-align: center;
			width: 430px;
			margin: auto;
			margin-top: -70px;
			margin-bottom: 30px;
			font-size: 24px;
			line-height: 32px;
		}
		&.btl-reset-modal-popup-step-1 {
			.select_apply {
				display: flex;
				gap: 20px;
			}
			.btl-react-select__option {
				padding-left: 16px !important;
			}
		}
		&.btl-reset-modal-popup-step-2 {
			text-align: center;
			padding-bottom: 50px;
			h2,
			h4 {
				line-height: 1.4;
			}
			h2 {
				font-size: 24px;
			}
			h4 {
				font-size: 18px;
				font-weight: 300;
			}
			.btl-btn-reset-popup-step-2-buttons {
				display: flex;
				justify-content: center;
				gap: 20px;
				button {
					height: 40px;
					padding: 0 20px;
					background-image: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
					border: none;
					outline: none;
					box-shadow: none;
					border-radius: 4px;
					color: #fff;
					cursor: pointer;
					transition: background 0.3s ease-in-out;
					font-size: 14px;
				}
			}
		}
	}
	.btl-modal-select--full {
		width: 350px !important;
	}
	.ReactModal__Content {
		width: 500px;
		height: 250px;
		margin: auto;
		overflow: visible !important;
		padding: 60px !important;
	}
	.ReactModal__Overlay {
		background-color: rgba(0, 0, 0, 0.5) !important;
	}
}

.btl-view-control {
	display: flex;

	.btl-link-view-toggler {
		svg.favorite-svg .fav-icon-svg-path {
			fill: #a1a2ad !important;

			&:hover {
				fill: #faba59 !important;
			}
		}
	}
	.btl-link-view-toggler.active {
		svg.favorite-svg .fav-icon-svg-path {
			fill: #faba59 !important;
		}
	}
	.btl-sortby-fav {
		padding: 10px;
	}
}
//
// betterlinks reset analytics css end

// autolink keyword search cancel (x) icon style start
input#search_autolink::-webkit-search-decoration:hover,
input#search_autolink::-webkit-search-cancel-button:hover {
	cursor: pointer;
}
// autolink keyword search cancel (x) icon style end

// No Favourite links found
.dnd-not-found {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	color: rgba(0, 0, 0, 0.87);
	background-color: rgb(255, 255, 255);
}
.betterlinks-options-tabs-wrapper div.react-tabs {
	display: flex;
}
.betterlinks-options-tabs-wrapper div.react-tabs ul {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	margin-right: 20px;
}

// quill-editor-css start
@import './ql-editor.scss';

//Affiliate disclosure preview
.btl-preview-modal-wrapper {
	position: sticky;
	top: 35px;
	z-index: 1;
}
.betterlinks-preview-modal {
	padding: 1px;
	width: 90%;
	// min-height: 50px;
	// background-color: #f2f2f2;
	max-height: 300px;
	overflow: scroll;
	display: grid;
	align-items: center;

	ul {
		padding: revert;
		list-style: unset;
		margin-top: revert !important;
	}
	img {
		width: 100%;
	}
}
.btl-disclosure-preview {
	background: linear-gradient(202deg, rgb(41, 97, 255) 0%, rgb(0, 59, 226) 100%);
	padding: 5px;
	font-size: 16px;
	border-radius: 2px;
	display: inline-block;
	color: white;

	.btl-backward-hand {
		font-size: 16px;
	}
}

.betterlinks-body .btl-tab-panel-inner .betterlinks-multi-input .btl-modal-select--full,
.betterlinks-body .btl-tab-panel-inner .betterlinks-input-select-fields .btl-modal-select--full {
	width: 100px !important;
	margin-left: 10px;
	align-self: flex-start;
}
.betterlinks-multi-input {
	display: flex;
	.betterlinks-single-input {
		display: flex;
		flex-direction: column;
		align-items: center;

		.btl-text-field {
			width: 60px !important;
			text-align: center;
		}
		span {
			font-size: 10px;
			font-style: italic;
		}
	}
}

.betterlinks_affiliate_disclosure_post {
	display: flex;
	flex-direction: column;
	line-height: 18px;
	margin: 0;
}
.betterlinks_affiliate_disclosure_post p {
	padding: 0;
	margin: 0;
	font-size: inherit;
}
.rmsc.multi-select {
	max-width: 150px;
	min-width: 150px;
}
.rmsc {
	* {
		transition: unset !important;
	}
	.dropdown-container {
		.dropdown-heading .clear-selected-button {
			display: none;
		}
	}
	.dropdown-content {
		position: absolute;
		z-index: 1;
		top: 100%;
		width: 100%;
		padding-top: 8px;

		.panel-content input[type='checkbox'] {
			overflow: hidden;
			border-radius: var(--rmsc-radius);
			background: var(--rmsc-bg);
			box-shadow: 0 0 0 1px #0000001a, 0 4px 11px #0000001a;
		}
	}
}
