@import './calendar/style';
@import './calendar/theme';
@import './common/fonts';
@import './common/variable';
@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.btl-rotating {
	animation: rotating 3s linear infinite;
}
.betterlinks-body {
	padding-top: 20px;
	padding-right: 20px;
	@import './common/reboot';
	@import './common/form';
	@import './components/topbar';
	@import './components/category';
	@import './components/link';
	@import './components/list-view';
	@import './components/analytics';
	@import './components/tab';
	@import './components/doc';
	@import './components/broken-links';
}
body {
	&.betterlinks-dark-mode {
		background: #36405a;
		.betterlinks-body {
			@import './control/plugin-mode';
		}
		@import './control/plugin-mode-modal';
        #wpfooter{
            color: $white;
            a{
                color: $success-lighten;
            }
        }
	}
	> .btl-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		z-index: 99;
		opacity: .65;
	}
}
.btl-date-range-picker-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	.btl-date-range-picker {
		position: relative;
		display: inline-block;
		background: white;
		border-radius: 6px;
		margin: auto;
		.btn-date-range-close {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 999;
			border: 0;
			background: transparent;
			outline: none;
			color: $secondary-lighten;
			padding: 5px 5px;
			cursor: pointer;
		}
		.rdrDateRangePickerWrapper .rdrInputRanges {
			display: none;
		}
	}
}
.btl-tooltip {
	position: relative;
	display: inline-block;
	.btl-tooltiptext {
		visibility: hidden;
		width: 120px;
		background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
		font-size: 14px;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
		z-index: 1;
		bottom: 150%;
		left: 50%;
		transform: translateX(-50%);
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #003be2 transparent transparent transparent;
		}
	}
	&:hover .btl-tooltiptext {
		visibility: visible;
	}
}
@import './components/modal';
@import './components/utm_builder';