.btl-link-generator {
	margin-top: 12px !important;
	margin-bottom: 10px !important;
}
.components-button span.pro-badge,
.betterlinks-affiliate-link-disclosure span.pro-badge,
.betterlinks-auto-create-link span.pro-badge {
	background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
	color: #fff;
	border-radius: 2px;
	padding: 3px 6px;
	font-size: 10px;
	margin-left: 3px;
	line-height: 1;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	border-radius: 2px;
	transform: translateY(-10px);
}
.betterlinks-instant-redirect {
	.betterlinks-instant-redirect-form-group {
		display: flex;
		.betterlinks-instant-redirect-form-label {
			min-width: 100px;
			span.pro-badge {
				background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
				color: #fff;
				border-radius: 2px;
				padding: 3px 6px;
				font-size: 10px;
				margin-left: 3px;
				line-height: 1;
				text-transform: uppercase;
				display: inline-flex;
				align-items: center;
				border-radius: 2px;
				transform: translateY(-10px);
			}
		}
		input[type='checkbox'] {
			margin-top: 2px;
			background: #ddd;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.MuiFormControl-root.MuiTextField-root {
		width: 100%;
	}
}
.betterlinks-upgradetopro {
	text-align: center;
	h3 {
		color: rgba(0, 0, 0, 0.65);
		font-weight: 600;
		font-size: 27px;
	}
	p {
		a {
			color: #e64942;
			font-weight: 600;
		}
	}
	.btn-close {
		background: #e64942;
		color: #fff;
		padding: 10px 20px;
		border: 0;
		border-radius: 4px;
		cursor: pointer;
		float: right;
	}
}
.ReactModal__Content {
	padding: 60px !important;
	width: 60%;
	@media screen and (max-width: 1599px) {
		width: 75%;
	}
	@media screen and (max-width: 1199px) {
		width: 80%;
	}
	@media screen and (max-width: 650px) {
		padding: 20px !important;
	}
}

//
// gutenberg richtext 'betterlinks format' css -> start

// fixed: in gutenberg edit 'page/post' betterlinks 'add/edit link modal' design breaking (when 'spectra' plugin is activated) start
body.betterlinks-formatting-enabled {
	.ReactModal__Content {
		box-sizing: content-box !important;
		* {
			box-sizing: content-box;
		}

		.btl-entry-content .btl-entry-content-right .link-options * {
			box-sizing: border-box !important;
		}
	}
}
// fixed: in gutenberg edit 'page/post' betterlinks 'add/edit link modal' design breaking (when 'spectra' plugin is activated) end

.btl-url-popover-slot {
	& > .components-popover__content {
		box-shadow: rgb(36 36 36 / 10%) 0px 0px 20px;
	}

	form.btl-links-search-form {
		display: flex;

		.btl-url-search-field.temporary-focus {
			border: 3px solid #2271b199;
		}
		.btl-url-search-field {
			width: 300px;
			color: #555;
			padding: 3px 10px;
			margin-left: 0px;
			border-radius: 0;
			border: none;
			border-right: 1px solid #cecece;

			&:focus {
				box-shadow: none;
				outline: none;
			}

			& > .components-base-control__field {
				margin: 0;
			}

			button.btl-submit-button {
				padding: 5px 0;
			}

			input.components-text-control__input {
				padding: 10px;
				border: 1px solid #ccc;
				margin: 0;
			}
		}
	}

	.betterlinks-format-link-preview-wrapper {
		padding: 4px 10px 6px 10px;
		display: flex;
		align-items: center;

		a {
			display: flex;
			align-items: center;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			min-width: 150px;
			max-width: 500px;
			font-size: 14px;

			&:focus {
				box-shadow: none;
				outline: none;
				text-decoration: underline;
			}

			i.btl-visit-url {
				margin-left: 3px;
			}
		}

		button {
			background: none;
			border: none;
			display: flex;
			margin: 0;
			cursor: pointer;
			padding: 0;
			margin-left: 5px;
			color: #b0b2ba;

			&:hover {
				color: #003be2;
			}

			&:focus {
				border: none;
				box-shadow: none;
				outline: none;
			}
		}

		button.betterlinks-format-change-link {
			font-size: 20px;
		}

		button.betterlinks-format-edit-link {
			font-size: 13px;
		}

		button.betterlinks-format-remove-link {
			span.dashicons-editor-unlink {
				font-size: 18px;
				margin-bottom: -3px;
			}
		}
	}
}

.betterlinks-invalid-link-popover {
	.betterlinks_format_invalid_link_warning {
		width: 300px;
		color: #333;
		padding: 5px 10px;
		font-weight: 700;
		& button {
			padding: 5px 10px;
			margin-left: 10px;
			border: 1px solid #007cba;
			background: #007cba;
			color: #fff;
			border-radius: 3px;
			font-size: 15px;
			cursor: pointer;
			font-weight: 400;
			&:hover {
				background: #006ba1;
			}
			&:focus {
				box-shadow: none;
			}
		}
	}
}

ul.betterlinks-suggessions-wrapper-ul {
	margin: 0;
	padding: 10px 0;
	width: 300px;
}

ul.betterlinks-suggessions-wrapper-ul li.betterlinks-suggessted-link-li {
	cursor: pointer;
	margin: 0;
	padding: 5px 10px;
}

ul.betterlinks-suggessions-wrapper-ul li.betterlinks-suggessted-link-li:hover,
ul.betterlinks-suggessions-wrapper-ul li.betterlinks-suggessted-link-li.active {
	background-color: #e3e3e3;
}

.btl-url-popover-slot + .components-popover {
	margin: 0 !important;
}

.btl-url-popover-slot + .components-popover > .components-popover__content {
	margin-left: -18px;
}

span.hl {
	color: #222;
	font-weight: 700;
}

body.betterlinks-formatting-enabled {
	#wpadminbar,
	.interface-interface-skeleton__footer {
		z-index: -1 !important;
	}

	.interface-interface-skeleton__body {
		z-index: 33 !important;
	}

	.interface-interface-skeleton__sidebar,
	#adminmenuwrap,
	#adminmenuback {
		z-index: 0 !important;
	}

	.btl-modal-select * {
		overflow-x: hidden !important;
	}
}

body.betterlinks-format-link-preview-mounted .btl-url-popover-slot > .components-popover__content {
	overflow: visible !important;
}

.betterlinks-expanded-format-options form.betterlinks-format-new-link-form button,
.betterlinks-expanded-format-options form.betterlinks-format-new-link-form input {
	border-radius: 5px;
}

.betterlinks-expanded-format-options form.betterlinks-format-new-link-form h4 {
	padding: 0 !important;
	margin: 10px 0 !important;
}

.betterlinks-expanded-format-options form.betterlinks-format-new-link-form input {
	display: block;
	padding: 0px 5px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	width: 100%;
}

.betterlinks-expanded-format-options form.betterlinks-format-new-link-form button {
	border: 1px solid #007cba;
	background: #007cba;
	color: #fff;
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
}

.betterlinks-expanded-format-options form.betterlinks-format-new-link-form button:hover {
	background: #006ba1;
}

.betterlinks-expanded-format-options .components-base-control__field {
	margin-bottom: 5px !important;
}

.betterlinks-expanded-format-options form.betterlinks-format-new-link-form button:focus {
	box-shadow: none;
}

svg.betterlinks_logo_svg.betterlinks_logo_svg_gutenberg_format {
	height: 22px !important;
}

a.betterlinks-linked-text {
	&::before {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 104 131' xml:space='preserve' class='betterlinks_logo_svg betterlinks_logo_icon_beside_formatted_richtext' aria-hidden='true' focusable='false'%3E%3Cpath class='betterlinks-logo-svg-paths-style-class-0' d='M81.4 72.3H81h.4z'%3E%3C/path%3E%3Cpath d='M81.4 72.3H81c-2.8-.1-5.5-1.7-6.8-4.4-1.7-3.3-.8-7.3 2-9.6-6.1 3-32.2 15.9-38 18.7l-.8.4c-3.6 1.7-5.4 5.9-3.9 9.9.3.8.8 1.6 1.5 2.3 2.1 2.3 5.3 3 8.1 2.1.2-.1.4-.1.6-.2l1.2-.5 2.3-1c.5-.2 36.8-18 36.8-18 .3-.2.7-.3 1-.5-1.3.5-2.4.8-3.6.8z' style='fill: rgb(255, 31, 31);'%3E%3C/path%3E%3Cpath d='M104 37.8c-.3-5-1.2-9.7-2.8-13.9-.8-2.2-2-4.3-3.4-6.3-1.3-1.8-2.7-3.5-4.3-5.2-4.5-4.8-10-8.2-16.3-10.2C69.7-.2 62-.2 54.3 2.1l-.9.3C49.7 3.6 46.1 5.5 42.7 8c-4.3 3.2-7.8 7.3-10.6 12.1-1.8 3.2-2.9 6.7-3.3 10.6.6-2.2 2-4.1 4.2-5.2 4-2 8.8-.3 10.8 3.6.4.9.7 1.8.8 2.7 0-.3.1-.6.1-.8.7-4.4 3.3-8.1 8.2-11.3 1.9-1.2 3.8-2.2 5.8-2.8 5.1-1.7 10.4-1.4 15.9.8 8.6 3.5 14.3 12.7 13.7 21.8-.3 4.2-1.2 7.4-2.9 10.2-1.8 2.8-4 5.2-6.6 6.9 3.7-1.2 7.8.5 9.6 4 1.9 3.9.4 8.7-3.5 10.6 7.9-3.9 13.9-10.9 16.7-19.3.4-1.2.8-2.4 1.2-3.5.9-3.4 1.3-7 1.2-10.6z' style='fill: rgb(170, 2, 211);'%3E%3C/path%3E%3Cpath class='betterlinks-logo-svg-paths-style-class-3' d='M84.9 71.5c-.1 0 0 0 0 0z'%3E%3C/path%3E%3Cpath d='M88.5 60.8c-1.8-3.6-5.9-5.2-9.6-4-.4.1-.7.3-1.1.4-.6.3-1.1.7-1.6 1.1-2.7 2.3-3.6 6.3-2 9.6 1.3 2.7 4 4.3 6.8 4.4h.4c1.1 0 2.3-.3 3.4-.8 0 0 .1 0 .1-.1 3.9-1.9 5.5-6.7 3.6-10.6z' style='fill: rgb(239, 114, 108);'%3E%3C/path%3E%3Cpath d='M44.7 32c-.1-1.2-.5-2.4-1.3-3.6-2-3.2-6.1-4.5-9.6-3.1-2.6 1-4.3 3.1-4.9 5.5-.3 1.1-.4 2.3-.2 3.4.1.7.4 1.5.7 2.2.8 1.6 2.1 2.8 3.5 3.6 2.2 1.1 4.9 1.2 7.3.1 3.2-1.6 4.9-4.9 4.5-8.1z' style='fill: rgb(255, 120, 120);'%3E%3C/path%3E%3Cpath class='betterlinks-logo-svg-paths-style-class-0' d='M22.6 58.3h.4-.4z'%3E%3C/path%3E%3Cpath d='M70.6 42.7c-1.9-3.9-6.6-5.4-10.5-3.5-.3.2-.6.3-.9.5l-2.3 1c-.5.2-36.8 18-36.8 18-.3.2-.7.3-1 .5 1.1-.5 2.3-.8 3.4-.8h.4c2.8.1 5.5 1.7 6.8 4.4 1.7 3.3.8 7.3-2 9.6 6.1-3 32.2-15.9 38-18.7.4-.1.8-.3 1.2-.5 4-2 5.6-6.6 3.7-10.5z' style='fill: rgb(45, 47, 84);'%3E%3C/path%3E%3Cpath d='M0 92.9c.3 5 1.2 9.7 2.8 13.9.8 2.2 2 4.3 3.4 6.3 1.3 1.8 2.7 3.5 4.3 5.2 4.6 4.8 10.1 8.2 16.3 10.2 7.5 2.4 15.2 2.4 22.9.1l.9-.3c3.7-1.2 7.3-3.1 10.6-5.7 4.3-3.2 7.8-7.3 10.6-12.1 1.8-3.2 2.9-6.7 3.3-10.6-.6 2.2-2 4.1-4.2 5.2-4 2-8.8.3-10.8-3.6-.4-.9-.7-1.8-.8-2.7 0 .3-.1.6-.1.8-.7 4.4-3.3 8.1-8.2 11.3-1.9 1.2-3.8 2.2-5.8 2.8-5.1 1.7-10.4 1.4-15.9-.8-8.5-3.6-14.3-12.8-13.7-21.9.3-4.2 1.2-7.4 2.9-10.2 1.8-2.8 4-5.2 6.6-6.9-3.7 1.2-7.8-.5-9.6-4-1.9-3.9-.4-8.7 3.5-10.6-7.8 3.9-13.9 10.8-16.6 19.3-.4 1.2-.8 2.4-1.2 3.5C.3 85.7-.1 89.3 0 92.9z' style='fill: rgb(8, 71, 249);'%3E%3C/path%3E%3Cpath class='betterlinks-logo-svg-paths-style-class-3' d='M19.1 59.2c.1 0 0 0 0 0z'%3E%3C/path%3E%3Cpath d='M29.8 62.8c-1.3-2.7-4-4.3-6.8-4.4h-.4c-1.1 0-2.3.3-3.4.8 0 0-.1 0-.1.1-3.9 2-5.5 6.7-3.5 10.6 1.8 3.6 5.9 5.2 9.6 4 .4-.1.7-.3 1.1-.4.6-.3 1.1-.7 1.6-1.1 2.6-2.3 3.6-6.3 1.9-9.6z' style='fill: rgb(135, 97, 255);'%3E%3C/path%3E%3Cpath d='M75.2 96.5c-.1-.7-.4-1.5-.7-2.2-.8-1.6-2.1-2.8-3.5-3.6-2.2-1.1-4.9-1.2-7.3-.1-3.1 1.5-4.8 4.8-4.4 8 .1 1.2.5 2.4 1.3 3.6 2 3.2 6.1 4.5 9.6 3.1 2.6-1 4.3-3.1 4.9-5.5.3-1 .3-2.1.1-3.3z' style='fill: rgb(37, 191, 136);'%3E%3C/path%3E%3Cpath d='M75.2 96.5c-.1-.7-.4-1.5-.7-2.2-.8-1.6-2.1-2.8-3.5-3.6-2.2-1.1-4.9-1.2-7.3-.1-3.1 1.5-4.8 4.8-4.4 8 .1 1.2.5 2.4 1.3 3.6 2 3.2 6.1 4.5 9.6 3.1 2.6-1 4.3-3.1 4.9-5.5.3-1 .3-2.1.1-3.3z' style='opacity: 0.12; fill: rgb(8, 71, 249);'%3E%3C/path%3E%3C/svg%3E");
		height: 1em;
		width: 1em;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		// vertical-align: sub;
		vertical-align: middle;
		line-height: 1;
	}
}

// betterlinks loading spinner animation 'spin' keyframe start
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
// betterlinks loading spinner animation 'spin' keyframe end

body.betterlinks-loading-spinner-mounted {
	.btl-url-popover-slot {
		height: 100vh !important;
		width: 100vw !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		// background: rgba(0, 0, 0, 0.5) !important;
		* {
			width: 100vw !important;
			height: 100vh !important;
			max-width: 100vw !important;
			max-height: 100vh !important;
			background: rgba(0, 0, 0, 0.1);
		}
	}

	.betterlinks-submitted-link-for-gutenberg,
	.betterlinks-submitted-link-for-gutenberg .betterlinks-round-loader {
		width: 50px !important;
		height: 50px !important;
		background: transparent;
	}

	.betterlinks-submitted-link-for-gutenberg {
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		padding: 0 !important;
		margin-left: 50vw !important;
		margin-top: 50vh !important;
		transform: translate(-50%, -50%);

		.betterlinks-round-loader {
			border: 5px solid rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			border-top: 5px solid #666;
			-webkit-animation: spin 1s linear infinite; /* Safari */
			animation: spin 1s linear infinite;
		}
	}

	.betterlinks-top-loader-wrap {
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		z-index: 999999 !important;
		height: 100vh !important;
		width: 100vw !important;
		background: rgba(0, 0, 0, 0.5);
	}

	.ReactModalPortal,
	.ReactModalPortal * {
		z-index: 0 !important;
	}
}

.betterlinks-loader-sidebar-wrapper {
	display: none;
}
body.betterlinks-guten-store-initial-data-still-fetching .betterlinks-loader-sidebar-wrapper,
body.betterlinks-guten-link-data-not-rendered-in-sidebar .betterlinks-loader-sidebar-wrapper {
	display: block;
}

body.betterlinks-guten-store-initial-data-still-fetching,
body.betterlinks-guten-link-data-not-rendered-in-sidebar {
	* {
		z-index: 1 !important;
	}

	.betterlinks-loader-sidebar-wrapper,
	.betterlinks-loader-sidebar-wrapper * {
		z-index: 999999999 !important;
	}

	.betterlinks-loader-sidebar-wrapper {
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		padding: 0 !important;
		max-height: 100vh !important;
		max-width: 100vw !important;
		height: 100vh !important;
		width: 100vw !important;
		background: rgba(0, 0, 0, 0.5) !important;
	}

	.betterlinks-loader-for-sidebar {
		.betterlinks-round-loader {
			margin-left: 50vw !important;
			margin-top: 50vh !important;
			transform: translate(-50%, -50%);

			width: 50px !important;
			height: 50px !important;
			background: transparent;
			padding: 5px 10px;
			color: #555;
			border-radius: 5px;
			margin-top: 10px;
			cursor: pointer;
			border: 5px solid rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			border-top: 5px solid #666;
			-webkit-animation: spin 1s linear infinite; /* Safari */
			animation: spin 1s linear infinite;
		}
	}
}

.betterlinks-instant-gutenberg-redirect-delete-button-wrapper {
	display: none;
}

body.betterlinks-guten-instant-redirect-has-link .betterlinks-instant-gutenberg-redirect-delete-button-wrapper {
	display: block;
}

.betterlinks-link-deleted-after-applying-format h5.no-link-warning-after-added {
	color: #333;
	font-weight: 700;
	font-size: 12px;
	width: 400px;
	padding: 0 20px;

	& > button {
		padding: 5px 10px;
		border: 1px solid #007cba;
		background: #007cba;
		color: #fff;
		border-radius: 3px;
		font-size: 15px;
		cursor: pointer;
		font-weight: 400;
		margin-top: 5px;
		margin-left: 5px;
		&:hover {
			background: #006ba1;
		}
		&:focus {
			box-shadow: none;
		}
	}
}
// gutenberg richtext 'betterlinks format' css -> end
//

@import './betterlinks.scss';
// @import './common/variable';
// @import './components/modal';

//

// quill-editor-css start
/*!
 * Quill Editor v1.3.6
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 100%;
	margin: 0px;
	position: relative;
}
.ql-container.ql-disabled .ql-tooltip {
	visibility: hidden;
}
.ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
	pointer-events: none;
}
.ql-clipboard {
	left: -100000px;
	height: 1px;
	overflow-y: hidden;
	position: absolute;
	top: 50%;
}
.ql-clipboard p {
	margin: 0;
	padding: 0;
}
.ql-editor {
	box-sizing: border-box;
	line-height: 1.42;
	height: 100%;
	outline: none;
	overflow-y: auto;
	padding: 12px 15px;
	tab-size: 4;
	-moz-tab-size: 4;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.ql-editor > * {
	cursor: text;
}
.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
	margin: 0;
	padding: 0;
	counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol,
.ql-editor ul {
	padding-left: 1.5em;
}
.ql-editor ol > li,
.ql-editor ul > li {
	list-style-type: none;
}
.ql-editor ul > li::before {
	content: '\2022';
}
.ql-editor ul[data-checked='true'],
.ql-editor ul[data-checked='false'] {
	pointer-events: none;
}
.ql-editor ul[data-checked='true'] > li *,
.ql-editor ul[data-checked='false'] > li * {
	pointer-events: all;
}
.ql-editor ul[data-checked='true'] > li::before,
.ql-editor ul[data-checked='false'] > li::before {
	color: #777;
	cursor: pointer;
	pointer-events: all;
}
.ql-editor ul[data-checked='true'] > li::before {
	content: '\2611';
}
.ql-editor ul[data-checked='false'] > li::before {
	content: '\2610';
}
.ql-editor li::before {
	display: inline-block;
	white-space: nowrap;
	width: 1.2em;
}
.ql-editor li:not(.ql-direction-rtl)::before {
	margin-left: -1.5em;
	margin-right: 0.3em;
	text-align: right;
}
.ql-editor li.ql-direction-rtl::before {
	margin-left: 0.3em;
	margin-right: -1.5em;
}
.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
	padding-left: 1.5em;
}
.ql-editor ol li.ql-direction-rtl,
.ql-editor ul li.ql-direction-rtl {
	padding-right: 1.5em;
}
.ql-editor ol li {
	counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
	counter-increment: list-0;
}
.ql-editor ol li:before {
	content: counter(list-0, decimal) '. ';
}
.ql-editor ol li.ql-indent-1 {
	counter-increment: list-1;
}
.ql-editor ol li.ql-indent-1:before {
	content: counter(list-1, lower-alpha) '. ';
}
.ql-editor ol li.ql-indent-1 {
	counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-2 {
	counter-increment: list-2;
}
.ql-editor ol li.ql-indent-2:before {
	content: counter(list-2, lower-roman) '. ';
}
.ql-editor ol li.ql-indent-2 {
	counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-3 {
	counter-increment: list-3;
}
.ql-editor ol li.ql-indent-3:before {
	content: counter(list-3, decimal) '. ';
}
.ql-editor ol li.ql-indent-3 {
	counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-4 {
	counter-increment: list-4;
}
.ql-editor ol li.ql-indent-4:before {
	content: counter(list-4, lower-alpha) '. ';
}
.ql-editor ol li.ql-indent-4 {
	counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-5 {
	counter-increment: list-5;
}
.ql-editor ol li.ql-indent-5:before {
	content: counter(list-5, lower-roman) '. ';
}
.ql-editor ol li.ql-indent-5 {
	counter-reset: list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-6 {
	counter-increment: list-6;
}
.ql-editor ol li.ql-indent-6:before {
	content: counter(list-6, decimal) '. ';
}
.ql-editor ol li.ql-indent-6 {
	counter-reset: list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-7 {
	counter-increment: list-7;
}
.ql-editor ol li.ql-indent-7:before {
	content: counter(list-7, lower-alpha) '. ';
}
.ql-editor ol li.ql-indent-7 {
	counter-reset: list-8 list-9;
}
.ql-editor ol li.ql-indent-8 {
	counter-increment: list-8;
}
.ql-editor ol li.ql-indent-8:before {
	content: counter(list-8, lower-roman) '. ';
}
.ql-editor ol li.ql-indent-8 {
	counter-reset: list-9;
}
.ql-editor ol li.ql-indent-9 {
	counter-increment: list-9;
}
.ql-editor ol li.ql-indent-9:before {
	content: counter(list-9, decimal) '. ';
}
.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
	padding-left: 3em;
}
.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
	padding-left: 4.5em;
}
.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
	padding-right: 3em;
}
.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
	padding-right: 4.5em;
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
	padding-left: 6em;
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
	padding-left: 7.5em;
}
.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
	padding-right: 6em;
}
.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
	padding-right: 7.5em;
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
	padding-left: 9em;
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
	padding-left: 10.5em;
}
.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
	padding-right: 9em;
}
.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
	padding-right: 10.5em;
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
	padding-left: 12em;
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
	padding-left: 13.5em;
}
.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
	padding-right: 12em;
}
.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
	padding-right: 13.5em;
}
.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
	padding-left: 15em;
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
	padding-left: 16.5em;
}
.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
	padding-right: 15em;
}
.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
	padding-right: 16.5em;
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
	padding-left: 18em;
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
	padding-left: 19.5em;
}
.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
	padding-right: 18em;
}
.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
	padding-right: 19.5em;
}
.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
	padding-left: 21em;
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
	padding-left: 22.5em;
}
.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
	padding-right: 21em;
}
.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
	padding-right: 22.5em;
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
	padding-left: 24em;
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
	padding-left: 25.5em;
}
.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
	padding-right: 24em;
}
.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
	padding-right: 25.5em;
}
.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
	padding-left: 27em;
}
.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
	padding-left: 28.5em;
}
.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
	padding-right: 27em;
}
.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
	padding-right: 28.5em;
}
.ql-editor .ql-video {
	display: block;
	max-width: 100%;
}
.ql-editor .ql-video.ql-align-center {
	margin: 0 auto;
}
.ql-editor .ql-video.ql-align-right {
	margin: 0 0 0 auto;
}
.ql-editor .ql-bg-black {
	background-color: #000;
}
.ql-editor .ql-bg-red {
	background-color: #e60000;
}
.ql-editor .ql-bg-orange {
	background-color: #f90;
}
.ql-editor .ql-bg-yellow {
	background-color: #ff0;
}
.ql-editor .ql-bg-green {
	background-color: #008a00;
}
.ql-editor .ql-bg-blue {
	background-color: #06c;
}
.ql-editor .ql-bg-purple {
	background-color: #93f;
}
.ql-editor .ql-color-white {
	color: #fff;
}
.ql-editor .ql-color-red {
	color: #e60000;
}
.ql-editor .ql-color-orange {
	color: #f90;
}
.ql-editor .ql-color-yellow {
	color: #ff0;
}
.ql-editor .ql-color-green {
	color: #008a00;
}
.ql-editor .ql-color-blue {
	color: #06c;
}
.ql-editor .ql-color-purple {
	color: #93f;
}
.ql-editor .ql-font-serif {
	font-family: Georgia, Times New Roman, serif;
}
.ql-editor .ql-font-monospace {
	font-family: Monaco, Courier New, monospace;
}
.ql-editor .ql-size-small {
	font-size: 0.75em;
}
.ql-editor .ql-size-large {
	font-size: 1.5em;
}
.ql-editor .ql-size-huge {
	font-size: 2.5em;
}
.ql-editor .ql-direction-rtl {
	direction: rtl;
	text-align: inherit;
}
.ql-editor .ql-align-center {
	text-align: center;
}
.ql-editor .ql-align-justify {
	text-align: justify;
}
.ql-editor .ql-align-right {
	text-align: right;
}
.ql-editor.ql-blank::before {
	color: rgba(0, 0, 0, 0.6);
	content: attr(data-placeholder);
	font-style: italic;
	left: 15px;
	pointer-events: none;
	position: absolute;
	right: 15px;
}
.ql-snow.ql-toolbar:after,
.ql-snow .ql-toolbar:after {
	clear: both;
	content: '';
	display: table;
}
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 24px;
	padding: 3px 5px;
	width: 28px;
}
.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
	float: left;
	height: 100%;
}
.ql-snow.ql-toolbar button:active:hover,
.ql-snow .ql-toolbar button:active:hover {
	outline: none;
}
.ql-snow.ql-toolbar input.ql-image[type='file'],
.ql-snow .ql-toolbar input.ql-image[type='file'] {
	display: none;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
	color: #06c;
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
	fill: #06c;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
	stroke: #06c;
}
@media (pointer: coarse) {
	.ql-snow.ql-toolbar button:hover:not(.ql-active),
	.ql-snow .ql-toolbar button:hover:not(.ql-active) {
		color: #444;
	}
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
		fill: #444;
	}
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
		stroke: #444;
	}
}
.ql-snow {
	box-sizing: border-box;
}
.ql-snow * {
	box-sizing: border-box;
}
.ql-snow .ql-hidden {
	display: none;
}
.ql-snow .ql-out-bottom,
.ql-snow .ql-out-top {
	visibility: hidden;
}
.ql-snow .ql-tooltip {
	position: absolute;
	transform: translateY(10px);
}
.ql-snow .ql-tooltip a {
	cursor: pointer;
	text-decoration: none;
}
.ql-snow .ql-tooltip.ql-flip {
	transform: translateY(-10px);
}
.ql-snow .ql-formats {
	display: inline-block;
	vertical-align: middle;
}
.ql-snow .ql-formats:after {
	clear: both;
	content: '';
	display: table;
}
.ql-snow .ql-stroke {
	fill: none;
	stroke: #444;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2;
}
.ql-snow .ql-stroke-miter {
	fill: none;
	stroke: #444;
	stroke-miterlimit: 10;
	stroke-width: 2;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
	fill: #444;
}
.ql-snow .ql-empty {
	fill: none;
}
.ql-snow .ql-even {
	fill-rule: evenodd;
}
.ql-snow .ql-thin,
.ql-snow .ql-stroke.ql-thin {
	stroke-width: 1;
}
.ql-snow .ql-transparent {
	opacity: 0.4;
}
.ql-snow .ql-direction svg:last-child {
	display: none;
}
.ql-snow .ql-direction.ql-active svg:last-child {
	display: inline;
}
.ql-snow .ql-direction.ql-active svg:first-child {
	display: none;
}
.ql-snow .ql-editor h1 {
	font-size: 2em;
}
.ql-snow .ql-editor h2 {
	font-size: 1.5em;
}
.ql-snow .ql-editor h3 {
	font-size: 1.17em;
}
.ql-snow .ql-editor h4 {
	font-size: 1em;
}
.ql-snow .ql-editor h5 {
	font-size: 0.83em;
}
.ql-snow .ql-editor h6 {
	font-size: 0.67em;
}
.ql-snow .ql-editor a {
	text-decoration: underline;
}
.ql-snow .ql-editor blockquote {
	border-left: 4px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 16px;
}
.ql-snow .ql-editor code,
.ql-snow .ql-editor pre {
	background-color: #f0f0f0;
	border-radius: 3px;
}
.ql-snow .ql-editor pre {
	white-space: pre-wrap;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px 10px;
}
.ql-snow .ql-editor code {
	font-size: 85%;
	padding: 2px 4px;
}
.ql-snow .ql-editor pre.ql-syntax {
	background-color: #23241f;
	color: #f8f8f2;
	overflow: visible;
}
.ql-snow .ql-editor img {
	max-width: 100%;
}
.ql-snow .ql-picker {
	color: #444;
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: 500;
	height: 24px;
	position: relative;
	vertical-align: middle;
}
.ql-snow .ql-picker-label {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding-left: 8px;
	padding-right: 2px;
	position: relative;
	width: 100%;
}
.ql-snow .ql-picker-label::before {
	display: inline-block;
	line-height: 22px;
}
.ql-snow .ql-picker-options {
	background-color: #fff;
	display: none;
	min-width: 100%;
	padding: 4px 8px;
	position: absolute;
	white-space: nowrap;
}
.ql-snow .ql-picker-options .ql-picker-item {
	cursor: pointer;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	color: #ccc;
	z-index: 2;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
	fill: #ccc;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
	stroke: #ccc;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	display: block;
	margin-top: -1px;
	top: 100%;
	z-index: 1;
}
.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
	width: 28px;
}
.ql-snow .ql-color-picker .ql-picker-label,
.ql-snow .ql-icon-picker .ql-picker-label {
	padding: 2px 4px;
}
.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label svg {
	right: 4px;
}
.ql-snow .ql-icon-picker .ql-picker-options {
	padding: 4px 0px;
}
.ql-snow .ql-icon-picker .ql-picker-item {
	height: 24px;
	width: 24px;
	padding: 2px 4px;
}
.ql-snow .ql-color-picker .ql-picker-options {
	padding: 3px 5px;
	width: 152px;
}
.ql-snow .ql-color-picker .ql-picker-item {
	border: 1px solid transparent;
	float: left;
	height: 16px;
	margin: 2px;
	padding: 0px;
	width: 16px;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
	position: absolute;
	margin-top: -9px;
	right: 0;
	top: 50%;
	width: 18px;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-size .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-label]:not([data-label=''])::before {
	content: attr(data-label);
}
.ql-snow .ql-picker.ql-header {
	width: 98px;
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
	content: 'Normal';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='1']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1']::before {
	content: 'Heading 1';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='2']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2']::before {
	content: 'Heading 2';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='3']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='3']::before {
	content: 'Heading 3';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='4']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='4']::before {
	content: 'Heading 4';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='5']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='5']::before {
	content: 'Heading 5';
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='6']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='6']::before {
	content: 'Heading 6';
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1']::before {
	font-size: 2em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2']::before {
	font-size: 1.5em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='3']::before {
	font-size: 1.17em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='4']::before {
	font-size: 1em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='5']::before {
	font-size: 0.83em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='6']::before {
	font-size: 0.67em;
}
.ql-snow .ql-picker.ql-font {
	width: 108px;
}
.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
	content: 'Sans Serif';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='serif']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='serif']::before {
	content: 'Serif';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='monospace']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='monospace']::before {
	content: 'Monospace';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='serif']::before {
	font-family: Georgia, Times New Roman, serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='monospace']::before {
	font-family: Monaco, Courier New, monospace;
}
.ql-snow .ql-picker.ql-size {
	width: 98px;
}
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
	content: 'Normal';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value='small']::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='small']::before {
	content: 'Small';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value='large']::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='large']::before {
	content: 'Large';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value='huge']::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='huge']::before {
	content: 'Huge';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='small']::before {
	font-size: 10px;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='large']::before {
	font-size: 18px;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='huge']::before {
	font-size: 32px;
}
.ql-snow .ql-color-picker.ql-background .ql-picker-item {
	background-color: #fff;
}
.ql-snow .ql-color-picker.ql-color .ql-picker-item {
	background-color: #000;
}
.ql-toolbar.ql-snow {
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 8px;
}
.ql-toolbar.ql-snow .ql-formats {
	margin-right: 15px;
}
.ql-toolbar.ql-snow .ql-picker-label {
	border: 1px solid transparent;
}
.ql-toolbar.ql-snow .ql-picker-options {
	border: 1px solid transparent;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border-color: #ccc;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	border-color: #ccc;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
	border-color: #000;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
	border-top: 0px;
}
.ql-snow .ql-tooltip {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px #ddd;
	color: #444;
	padding: 5px 12px;
	white-space: nowrap;
}
.ql-snow .ql-tooltip::before {
	content: 'Visit URL:';
	line-height: 26px;
	margin-right: 8px;
}
.ql-snow .ql-tooltip input[type='text'] {
	display: none;
	border: 1px solid #ccc;
	font-size: 13px;
	height: 26px;
	margin: 0px;
	padding: 3px 5px;
	width: 170px;
}
.ql-snow .ql-tooltip a.ql-preview {
	display: inline-block;
	max-width: 200px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}
.ql-snow .ql-tooltip a.ql-action::after {
	border-right: 1px solid #ccc;
	content: 'Edit';
	margin-left: 16px;
	padding-right: 8px;
}
.ql-snow .ql-tooltip a.ql-remove::before {
	content: 'Remove';
	margin-left: 8px;
}
.ql-snow .ql-tooltip a {
	line-height: 26px;
}
.ql-snow .ql-tooltip.ql-editing a.ql-preview,
.ql-snow .ql-tooltip.ql-editing a.ql-remove {
	display: none;
}
.ql-snow .ql-tooltip.ql-editing input[type='text'] {
	display: inline-block;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
	border-right: 0px;
	content: 'Save';
	padding-right: 0px;
}
.ql-snow .ql-tooltip[data-mode='link']::before {
	content: 'Enter link:';
}
.ql-snow .ql-tooltip[data-mode='formula']::before {
	content: 'Enter formula:';
}
.ql-snow .ql-tooltip[data-mode='video']::before {
	content: 'Enter video:';
}
.ql-snow a {
	color: #06c;
}
.ql-container.ql-snow {
	border: 1px solid #ccc;
}

// quill-editor-css end
