// BetterLinks Create Link Externally - page css
body {
	display: flex;
	justify-content: center;
}
.btl-create-link-externally {
	width: 500px;
	> div.btl-social-share {
		display: flex;
		align-items: center;

		> span.dashicons {
			margin-right: 3px;
		}
		> div {
			margin-left: 5px;
		}
	}
	> div.btl-shortened-url {
		display: flex;
		align-items: center;
		column-gap: 5px;
		margin-top: 10px;

		> span {
			// font-size: 18px;
			font-size: 14px;
			line-height: 1;
			background: rgba(0, 59, 226, 0.05);
			font-weight: 500;
			padding: 5px 10px;
			min-height: 26px;
			width: 233px;
			min-width: 233px;
			border: 1.5px solid #003be2;
			border-radius: 5px;
			color: #003be2;
			display: inline-flex;
			align-items: center;
			word-break: break-all;
		}
		.btl-short-url-copy-button {
			cursor: pointer;
			border: none;
			margin: 0;
			padding: 0;
			width: auto;
			overflow: visible;
			height: 30px;

			background: transparent;

			/* inherit font & color from ancestor */
			color: inherit;
			font: inherit;

			/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
			line-height: normal;

			/* Corrects font smoothing for webkit */
			-webkit-font-smoothing: inherit;
			-moz-osx-font-smoothing: inherit;

			/* Corrects inability to style clickable `input` types in iOS */
			-webkit-appearance: none;

			/* Remove excess padding and border in Firefox 4+ */
			&::-moz-focus-inner {
				border: 0;
				padding: 0;
			}
		}
		> a {
			cursor: pointer;
		}
	}
}

.share-button {
	border-radius: 3px;
	font-weight: 600;
	padding: 5px 8px;
	display: inline-block;
	position: static;

	> svg {
		width: 18px;
		fill: white;
		vertical-align: middle;
		border-radius: 2px;
	}

	> span {
		vertical-align: middle;
		color: white;
		font-size: 14px;
		padding: 0 3px;
	}
	&:hover {
		cursor: pointer;
	}
}
#fb-share-button {
	background: #3b5998;
	&:hover {
		background: #213a6f;
	}
}
#x-share-button {
	background-color: #000;
	&:hover {
		background: #333;
	}
}
