// BetterLinks Create Link Externally - page css
body {
	display: flex;
	justify-content: center;
}
.btl-create-link-externally {
	position: relative;
	height: calc(100dvh - 3rem);
	display: flex;
	flex-direction: column;
	width: 600px;
	// font-family: 'Roboto', 'Inter', sans-serif;
	font-family: ui-sans-serif;
	color: #19285d;
	margin-top: 2rem;

	> .btl-link-info-wrapper {
		h1 {
			font-family: 40px;
			font-weight: 600;
			line-height: 48px;
			margin: 0;
		}
		> div {
			display: flex;
			align-items: center;
			column-gap: 10px;

			> span,
			p {
				font-size: 20px;
				font-weight: 500;
				line-height: 24px;
			}
			span {
				color: #9b9daf;
			}
		}
	}
	> div.btl-social-share {
		display: flex;
		align-items: center;

		> span.dashicons {
			margin-right: 3px;
		}
		> div {
			margin-left: 5px;
		}
	}
	> div.btl-shortened-url {
		display: flex;
		align-items: center;
		padding: 12px 20px;
		border: 1px solid #87b2ff;
		border-radius: 8px;
		margin-top: 20px;
		column-gap: 10px;

		> span {
			color: #2673ff;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			letter-spacing: 0.3px;
		}
		> div {
			display: flex;
			align-items: center;
			column-gap: 5px;
			margin-top: 5px;

			.btl-short-url-copy-button {
				display: flex;
				cursor: pointer;
				border: none;
				margin: 5px 0 0 0;
				padding: 0;
				width: auto;
				overflow: visible;
				height: 30px;

				background: transparent;

				/* inherit font & color from ancestor */
				color: inherit;
				font: inherit;

				/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
				line-height: normal;

				/* Corrects font smoothing for webkit */
				-webkit-font-smoothing: inherit;
				-moz-osx-font-smoothing: inherit;

				/* Corrects inability to style clickable `input` types in iOS */
				-webkit-appearance: none;

				> span {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #e8effe;
					width: 24px;
					height: 24px;
					border-radius: 50%;

					> span.dashicons {
						font-size: 18px;
						line-height: 1.1rem;
					}
				}
				/* Remove excess padding and border in Firefox 4+ */
				&::-moz-focus-inner {
					border: 0;
					padding: 0;
				}
			}
			> a {
				cursor: pointer;
				background-color: #e8effe;
				width: 24px;
				height: 24px;
				border-radius: 50%;
			}
		}
	}

	.btl-cle-link-options {
		background-color: #f6f6f6;
		display: flex;
		margin-top: 20px;
		padding: 20px;
		border-radius: 8px;

		> div {
			flex-grow: 1;
			flex-basis: 0;

			&:nth-child(1) {
				flex-grow: 3;
				display: flex;
				flex-direction: column;
				row-gap: 10px;

				> span {
					display: flex;
					column-gap: 10px;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;

					&:nth-child(1) {
						font-size: 18px;
						font-weight: 600;
						line-height: 24px;
					}
					> span {
						color: #9b9daf;

						&.checked {
							color: #2673ff;
						}
					}
				}
			}
		}

		.btl-social-share {
			> span {
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				color: #19285d;
			}
			> div {
				margin-top: 10px;

				a {
					text-decoration: none;
				}
			}
		}
	}

	.btl-cle-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		row-gap: 5px;
		user-select: none;

		> a {
			color: #aa02d3;
			text-decoration: none;

			span {
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
			// > span {
			// }
		}
		> div {
			font-size: 14px;
			line-height: 19.2px;
			text-align: right;
			color: #9b9daf;
		}
	}
	.btl-cle-credit {
		flex-grow: 1;
		width: 600px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: end;
		> hr {
			width: 100%;
		}

		> span {
			display: flex;
			align-items: center;
			column-gap: 5px;

			img {
				width: 100px;
			}
		}
	}
}

.share-button {
	border-radius: 3px;
	font-weight: 600;
	display: inline-block;
	position: static;

	> svg,
	> img {
		width: 40px;
		vertical-align: middle;
		border-radius: 2px;
	}

	> span {
		vertical-align: middle;
		color: white;
		font-size: 14px;
		padding: 0 3px;
	}
	&:hover {
		cursor: pointer;
	}
}
