.btl-analytics-heading {
	font-size: 25px;
	color: #252525;
	font-weight: 600;
}
.btl-analytic {
	background: #fff;
	padding: 35px 25px;
	border: 1px solid #ebebeb;
	.btl-analytics-chart {
		margin-bottom: 50px;
	}
}
.btl-analytics-filter {
	position: relative;
	display: flex;
	align-items: center;
	.btl-analytics-filter__control {
		display: flex;
		margin-left: auto;
		.btl-list-view-calendar{
			height: 40px;
			padding: 0 12px;
			border: 1px solid $light-darken;
			border-radius: 5px;
			background: $white;
			color: $secondary;
			margin-right: 12px;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			.dashicons{
				font-size: 15px;
				margin-right: 2px;
				display: inline-flex;
				align-items: center;
			}
			&:focus{
				border: 1px solid $light-darken;
				outline: none;
			}
		}
	}
	.btl-date-range-picker-wrap {
		text-align: right;
	}
}
.react-date-picker {
	margin-left: 20px;
	margin-right: 20px;
	.react-date-picker__wrapper {
		border-color: #ebebeb;
		border-radius: 4px;
		min-height: 40px;
		.react-date-picker__inputGroup {
			.react-date-picker__inputGroup__input {
				border: none;
				background-color: transparent;
				&:focus {
					box-shadow: none;
					outline: none;
				}
			}
		}
		.react-date-picker__clear-button,
		.react-date-picker__calendar-button {
			display: none;
		}
	}
}
.btl-filter-action {
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	background: #0742e7;
	border: none;
	outline: none;
	box-shadow: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	&:hover {
		background: #0338c9;
	}
}

// analytic table
.btl-analytic-table-wrapper {
	.rdt_TableHeader {
		display: none;
		.sc-fFubgz {
			font-weight: 600;
		}
	}
	> header {
		justify-content: flex-start;
		padding-left: 0;
	}
	.btl-click-filter {
		margin-bottom: 20px;
		input {
			border-color: #ebebeb;
			height: 40px;
			border-radius: 4px 0 0 4px;
			border-right: 0px;
			outline: none;
			box-shadow: none;
			min-width: 240px;
			padding-left: 15px;
		}
		.btl-search-button {
			height: 40px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 0 20px;
			background: #0742e7;
			border: none;
			outline: none;
			box-shadow: none;
			border-radius: 0 4px 4px 0;
			color: #fff;
			cursor: pointer;
			transition: background 0.3s ease-in-out;
			&:hover {
				background: #0338c9;
			}
		}
	}
	.rdt_Table{
		.rdt_TableCell{
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.rdt_TableCol_Sortable {
			color: $dark;
			> div {
				font-size: 18px;
				font-weight: 600;
				color: #252525;
			}
			&:hover {
				color: $dark;
			}
		}
		a {
			color: $dark;
			&:hover {
				color: $dark;
			}
		}
	}
	.sc-cxFLnm {
		svg {
			display: none;
		}
	}
	.sc-giIncl {
		.sc-iJuUWI {
			padding: 0px;
			border-radius: 4px;
			height: 24px;
			width: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 2px;
			svg {
				height: 20px;
				width: 20px;
				fill: $dark;
			}
			&:disabled{
				svg{
					fill: $secondary;
				}
			}
			&:hover {
				background: #0742e7;
				svg {
					fill: #fff;
				}
			}
		}
	}
}
.react-calendar {
	border-color: #ebebeb;
}
