.dnd-category-wrapper{
  column-count: 4;
  column-gap: 20px;
  orphans: 1;
  widows: 1;
  &.d-flex{
    display: flex;
  }
  @media screen and (max-width: 1599px) {
    column-count: 3;
  }
  @media screen and (max-width: 1199px) {
    column-count: 2;
  }
  @media screen and (max-width: 599px) {
    column-count: 1;
  }
  .dnd-category,
  .dnd-create-category{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    break-inside: avoid-column;
    display: inline-grid;
    page-break-inside: avoid;
    border-radius: 5px;
  }
  .dnd-category{
    border: 1px solid transparent;
    .category-head{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      background: #fff;
      border-radius: 5px 5px 0 0;
      padding: 0 10px;
      text-align: center;
      .title{
        font-size: 17px;
        font-weight: 500;
        color: $dark;
        margin: 0;
        line-height: 1;
      }
      .dropdown{
        margin-left: 5px;
        position: relative;
        .icon{
          cursor: pointer;
          display: flex;
          color: $secondary-lighten;
          font-size: 14px;
          border: none;
          outline: none;
          box-shadow: none;
          background: transparent;
        }
      }
    }
    .category-body{
      margin: 8px 4px 0 8px;
      max-height: 630px;
      overflow-y: auto;
      text-rendering: optimizeSpeed;
      scroll-behavior: smooth;
      -webkit-font-smoothing: antialiased;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: rgba($secondary-lighten, 0.4);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: $secondary-lighten;
      }
    }
    .category-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px;
      .btl-create-link-button{
        height: 50px;
        width: 50px;
        min-width: 50px;
        background: $white;
        border: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: $secondary;
        cursor: pointer;
        &:focus{
          border: none;
          outline: none;
          box-shadow: none;
        }
        &:hover{
          background: linear-gradient(to left, $success, $success-lighten);
          color: $white;
          box-shadow: 0 22px 42px rgba(#03623c, 0.18);
        }
      }
    }
  }
  .dnd-create-category{
    background: $white;
    padding: 10px;
    box-sizing: border-box;
    .dnd-create-category-button{
      height: 70px;
      width: 70px;
      min-width: 70px;
      border: none;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      background: linear-gradient(to left, $success, $success-lighten);
      color: $white;
      cursor: pointer;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      &:focus{
        border: none;
        outline: none;
        box-shadow: none;
      }
      &:hover{
        box-shadow: 0 22px 42px rgba(#03623c, 0.18);
      }
    }
    .dnd-create-category-text{
      text-align: center;
      font-size: 17px;
      font-weight: 500;
      color: $dark;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}