.btl-list-view{
  .sc-fodVxV{
    display: none;
  }
  .sc-idOhPF{
    margin-bottom: 15px;
    background: transparent;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    .btl-links-filter,
    .btl-bulk-actions{
      display: flex;
      flex-wrap: wrap;
    }
    .btl-links-filter{
      margin-right: 12px;
      .btl-click-filter{
        margin-bottom: 5px;
        width: 285px;
        height: 36px;
        background: $white;
        border: 1px solid $light-darken;
        border-radius: 5px;
        padding-left: 25px;
        margin-right: 12px;
        position: relative;
        color: $secondary;
        margin-bottom: 0;
        input{
          height: 100%;
          background: transparent;
          padding: 0 15px;
          width: 100%;
          border: none;
          outline: none;
          box-shadow: none;
          font-size: 14px;
          &:hover,
          &:focus{
            border: none;
            outline: none;
            box-shadow: none;
          }
        }
        &:before{
          font-family: 'better-links' !important;
          content: "\e912";
          position: absolute;
          top: 0;
          bottom: 0;
          display: inline-flex;
          left: 0;
          width: 40px;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          color: $secondary-lighten;
          padding-left: 3px;
        }
      }
      .btl-list-view-select{
        height: 38px;
        min-width: 125px;
        margin-right: 12px;
        .btl-react-select__control{
          min-height: 36px;
          background: $white;
          border: 1px solid $light-darken;
          border-radius: 5px;
          &:focus,
          &--is-focused{
            box-shadow: none;
            .btl-react-select__input{
              input{
                box-shadow: none;
                border: none;
                outline: none;
              }
            }
          }
          .btl-react-select__value-container{
            height: 36px;
            padding-top: 0;
            padding-bottom: 0;
          }
          .btl-react-select__indicators{
            .btl-react-select__indicator-separator{
              display: none;
            }
            .btl-react-select__indicator{
              padding: 3px 8px;
            }
          }
        }
      }
      .btl-link-input-field{
        height: 38px;
        padding: 0 15px;
        border: 1px solid $light-darken;
        border-radius: 5px;
        background: $white;
        color: $secondary;
        margin-right: 12px;
        min-width: 200px;
        &:focus{
          outline: none;
        }
      }
      .btl-link-filter-button{
        cursor: pointer;
        height: 38px;
        border: none;
        outline: none;
        box-shadow: none;
        background-image: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
        color: $white;
        font-size: 14px;
        padding: 0 25px;
        border-radius: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        transition: box-shadow 0.2s ease;
        &:hover {
          box-shadow: 0 22px 42px rgba(#003be2, 0.18);
        }
      }
    }
    .btl-bulk-actions{
      .btl-list-view-select{
        height: 38px;
        min-width: 150px;
        margin-right: 12px;
        .btl-react-select__control{
          min-height: 36px;
          background: $white;
          border: 1px solid $light-darken;
          border-radius: 5px;
          &:focus,
          &--is-focused{
            box-shadow: none;
            .btl-react-select__input{
              input{
                box-shadow: none;
                border: none;
                outline: none;
              }
            }
          }
          .btl-react-select__value-container{
            height: 36px;
            padding-top: 0;
            padding-bottom: 0;
          }
          .btl-react-select__indicators{
            .btl-react-select__indicator-separator{
              display: none;
            }
            .btl-react-select__indicator{
              padding: 3px 8px;
            }
          }
        }
      }
      .btl-link-apply-button{
        cursor: pointer;
        height: 38px;
        border: 1px solid $success;
        outline: none;
        box-shadow: none;
        background: rgba($success, 0.05);
        color: $success;
        font-size: 14px;
        padding: 0 25px;
        border-radius: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        transition: box-shadow 0.2s linear;
        transition-property: background, color, box-shadow;
        &:hover {
          background-image: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
          border-color: transparent;
          color: $white;
          box-shadow: 0 22px 42px rgba(#003be2, 0.18);
        }
      }
    }
  }
  .btl-list-view-table{
    .rdt_Table{
      background-color: transparent;
      .rdt_TableHead{
        margin-bottom: 12px;
        .rdt_TableHeadRow{
          border: 1px solid $light-darken;
          background: $white;
          border-radius: 5px;
          min-height: 65px;
          .rdt_TableCol{
            .rdt_TableCol_Sortable{
              color: $dark;
              font-size: 15px;
              font-weight: 700;
              &:hover{
                color: $dark;
              }
            }
          }
        }
      }
      .rdt_TableBody{
        .rdt_TableRow{
          margin-bottom: 12px;
          min-height: 65px;
          border: 1px solid $light-darken;
          border-radius: 5px;
          box-shadow: 0 3px 4px rgba(#00094e, 0.03);
          .rdt_TableCell{
            div{
              font-size: 15px;
              color: $secondary;
            }
            .btl-link-title{
              font-size: 15px;
              font-weight: 500;
              color: $dark;
              line-height: 1.1;
            }
            .btl-short-url-wrapper{
              display: flex;
              align-items: center;
              padding: 5px 0;
              flex-wrap: nowrap;
              .btl-short-url{
                font-size: 14px;
                background: rgba($success, 0.05);
                font-weight: 700;
                padding: 2px 12px;
                min-height: 26px;
                max-width: 310px;
                border: 1.5px solid $success;
                border-radius: 5px;
                color: $success;
                display: inline-flex;
                align-items: center;
              }
              .btl-short-url-copy-button{
                border: none;
                outline: none;
                background: transparent;
                padding: 5px;
                font-size: 18px;
                color: $success;
                margin-left: 5px;
              }
            }
            .btl-list-view-action-wrapper{
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
            }
            .dnd-link-button {
              padding: 5px 5px 5px 20px;
              border: none;
              background: none;
              color: $secondary-lighten;
              font-size: 12px;
              cursor: pointer;
              transition: color 0.2s ease 0s;
              &:focus {
                border: none;
                outline: none;
                box-shadow: none;
              }
              &:hover {
                color: $success;
              }
              &.delete-button:hover {
                color: $danger;
              }
            }
          }
        }
      }
    }
  }
  .rdt_Pagination{
    background: transparent;
    border: none;
    .sc-cxFLnm{
      svg{
        display: none;
      }
    }
    .sc-giIncl{
      .sc-iJuUWI{
        padding: 0px;
        border-radius: 4px;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        svg{
          height: 20px;
          width: 20px;
          fill: $dark;
        }
        &:disabled{
          svg{
            fill: $secondary;
          }
        }
        &:hover{
          background: #0742e7;
          svg{
            fill: #fff;
          }
        }
      }
    }
  }
}