.ReactModal__Overlay {
	z-index: 100000;
	overflow: auto;
}
.ReactModal__Content {
	overflow: visible !important;
	padding: 60px !important;
	width: 60%;
	@media screen and (max-width: 1599px) {
		width: 75%;
	}
	@media screen and (max-width: 1199px) {
		width: 80%;
	}
	@media screen and (max-width: 650px) {
		padding: 20px !important;
	}
	.btl-close-modal {
		position: absolute;
		right: 15px;
		top: 15px;
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		font-size: 13px;
		color: $dark;
	}
	.btl-entry-content {
		display: flex;
		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
		.btl-entry-content-left {
			width: calc(100% - 280px);
			@media screen and (max-width: 1023px) {
				width: 100%;
			}
		}
		.btl-entry-content-right {
			width: 280px;
			min-width: 280px;
			padding-left: 40px;
			@media screen and (max-width: 1023px) {
				padding-left: 210px;
			}
			@media screen and (max-width: 650px) {
				padding-left: 0;
			}
			.light-tooltip {
				background: #fff;
				color: #707070;
				font-size: 13px;
				font-weight: 400;
				filter: drop-shadow(0px 4px 10.5px rgba(0, 5, 41, 0.04));
				&::after {
					border-top-color: #fff;
				}
			}
			.link-options {
				border: 1px solid #ebebeb;
				background-color: #fafafa;
				border-radius: 4px;
				margin-bottom: 20px;
				&__head {
					border-bottom: 1px solid #ebebeb;
					background: #fff;
					padding: 15px;
					&--title {
						font-size: 17px;
						color: #373757;
						font-weight: 700;
						margin: 0;
						text-align: center;
					}
				}
				&__body {
					padding: 35px 0 15px 25px;
					.btl-checkbox-field {
						margin-bottom: 30px;
						.text {
							font-weight: 400;
							span.dashicons.dashicons-info-outline {
								margin-left: 10px;
								color: #a6a8ad;
							}
						}
					}
				}
			}
		}
	}
	.btl-modal-form-group {
		display: flex;
		align-items: flex-start;
		@media screen and (max-width: 650px) {
			flex-direction: column;
		}
		.btl-modal-form-label {
			min-width: 120px;
			font-size: 16px;
			font-weight: 500;
			text-align: left;
			padding-right: 40px;
			padding-top: 18px;
			padding-bottom: 18px;
			@media screen and (max-width: 650px) {
				margin-bottom: 15px;
				text-align: center;
				padding-right: 0;
			}
			&.btl-required {
				&:after {
					content: '*';
					margin-left: 2px;
					color: $danger;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	form.is-invalid {
		.btl-modal-form-group>input {
			border: 1px solid red;
		}
		.errorlog {
			margin-bottom: 10px;
			display: block;
			color: red;
			padding-left: 165px;
		}
	}
	textarea.btl-modal-form-control,
	input.btl-modal-form-control {
		flex: 1;
		width: 100%;
		height: 55px;
		min-height: 55px;
		border-radius: 5px;
		background: #fafafa;
		padding: 0 15px;
		border: 1px solid #ebebeb;
		font-size: 16px;
		font-weight: 500;
		outline: none;
		&:focus {
			background: #fff;
			box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
		}
	}
	textarea.btl-modal-form-control {
		padding-top: 15px;
		height: 80px;
	}
	.btl-modal-migration {
		text-align: center;
		&__title {
			font-size: 27px;
			color: $dark;
			margin-top: 0;
			margin-bottom: 25px;
		}
		&__sub-title {
			font-size: 23px;
			color: $dark;
			margin-top: 0;
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__item {
			width: 200px;
			margin: auto;
			display: flex;
			justify-content: center;
			margin-bottom: 25px;
			input {
				width: 25px;
				height: 25px;
				padding: 0 !important;
				text-align: center;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				line-height: 36px;
				margin-right: 15px;
				&[type=checkbox]:checked + label {
					border-color: #003be2;
					color: #003be2;
				}
			}
			label {
				font-size: 21px;
				color: #727272;
			}
		}
		.button.button-primary {
			padding-left: 45px;
			padding-right: 45px;
			height: 45px;
			color: #fff;
			font-size: 15px;
			background-image: linear-gradient(229deg, #2961ff 0%, #003be2 100%);
		}
		#response {
			max-height: 650px;
			overflow-y: scroll;
			font-size: 15px;
			line-height: 33px;
			color: #252525;
			font-weight: 400;
			text-align: left;
			h3 {
				display: flex;
				align-items: center;
				> img {
					margin-left: 5px;
				}
			}
		}
	}
	.btl-modal-select {
		width: 300px;
		.btl-react-select__control {
			background-color: #fafafa;
			height: 55px;
			border: 1px solid #ebebeb;
			border-radius: 5px;
			.btl-react-select__value-container {
				padding-left: 15px;
				.btl-react-select__single-value {
					font-size: 16px;
					font-weight: 500;
					margin-left: 0;
				}
				.btl-react-select__input {
					input {
						box-shadow: none;
					}
				}
			}
			&.btl-react-select__control--is-focused {
				box-shadow: none;
				background-color: #fff;
			}
		}
	}
	.btl-modal-select--full {
		@extend .btl-modal-select;
		flex: 1;
		width: 100%;
	}
	.btl-link-field-copyable {
		width: calc(100% - 210px);
		height: 55px;
		border-radius: 5px;
		background: #fafafa;
		border: 1px solid #ebebeb;
		display: flex;
		align-items: center;
		@media screen and (max-width: 650px) {
			width: 100%;
		}
		&.is-invalid {
			position: relative;
			border-color: red;
			.errorlog {
				position: absolute;
				left: 100%;
				top: 35%;
				width: 150px;
				font-weight: 500;
				padding-left: 10px;
				color: red;
			}
		}
		.btl-static-link {
			height: 100%;
			background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
			border-radius: 5px 3px 3px 5px;
			font-size: 16px;
			font-weight: 500;
			padding: 0 10px 0 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			font-style: italic;
			@media screen and (max-width: 1599px) {
				font-size: 16px;
			}
			@media screen and (max-width: 1199px) {
				font-size: 14px;
			}
		}
		.btl-dynamic-link {
			background: transparent;
			font-size: 16px;
			font-weight: 500;
			font-style: italic;
			color: $secondary;
			padding: 0 10px;
			border: none;
			box-shadow: none;
			outline: none;
			flex: 1;
			min-width: 100px;
		}
		.btl-link-copy-button {
			width: 20px;
			height: 20px;
			background: transparent;
			cursor: pointer;
			border: none;
			outline: none;
			box-shadow: 0;
			margin-left: 10px;
			margin-right: 20px;
			color: $secondary-lighten;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				color: $dark;
			}
			@media screen and (max-width: 1199px) {
				margin-left: 5px;
				margin-right: 15px;
			}
		}
		&:focus-within {
			background: $white;
			box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
		}
	}
	.btl-checkbox-field {
		display: flex;
		cursor: pointer;
		margin-bottom: 40px;
		.btl-check {
			display: none;
		}
		.text {
			padding-left: 40px;
			position: relative;
			color: $dark;
			font-weight: 500;
			font-size: 16px;
			&:before {
				position: absolute;
				font-family: 'better-links';
				content: '\e90c';
				left: 0;
				font-size: 24px;
				color: $secondary-lighten;
			}
		}
		.btl-check:checked + .text:before {
			content: '\e90e';
			color: $success;
		}
	}
	.btl-modal-submit-button {
		height: 55px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
		border: none;
		outline: none;
		box-shadow: none;
		border-radius: 5px;
		color: $white;
		font-size: 18px;
		font-weight: 500;
		padding: 0 25px;
		min-width: 190px;
		cursor: pointer;
		&:hover {
			box-shadow: 0 22px 42px rgba(#003be2, 0.18);
		}
	}
}
