.ReactModal__Overlay {
	z-index: 99999;
	overflow: auto;
}
.ReactModal__Content {
	&:not(:has(.btl-manage-tags-form)) {
		padding: 60px !important;
	}
	width: 60%;
	max-height: 100vh;
	overflow-y: auto !important;
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.btl-confirmation-alert {
		.btl-confirmation-buttons {
			display: flex;
			justify-content: center;

			button {
				min-height: 35px;
				border: 1px solid #2961ff;
				background: #2961ff;
				color: #fff;
				padding: 2px 15px;
				border-radius: 3px;
				font-size: 16px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				transition: 0.3s ease-in-out;
				cursor: pointer;
				margin-right: 5px;
			}

			button:nth-child(2) {
				background: transparent;
				color: #003be2;
			}
		}
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
	@media screen and (max-width: 1599px) {
		width: 75%;
	}
	@media screen and (max-width: 1199px) {
		width: 80%;
	}
	@media screen and (max-width: 650px) {
		padding: 20px !important;
	}
	span.pro-badge {
		background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
		color: #fff;
		border-radius: 2px;
		padding: 3px 6px;
		font-size: 10px;
		margin-left: 3px;
		line-height: 1;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		border-radius: 2px;
		transform: translateY(-10px);
	}
	.btl-close-modal {
		position: absolute;
		right: 15px;
		top: 15px;
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		font-size: 13px;
		color: $dark;
	}
	.btl-entry-content {
		display: flex;
		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
		.btl-entry-content-left {
			width: calc(100% - 320px);
			@media screen and (max-width: 1023px) {
				width: 100%;
			}
		}
		.btl-entry-content-right {
			width: 280px;
			min-width: 280px;
			padding-left: 40px;
			@media screen and (max-width: 1023px) {
				padding-left: 160px;
				width: auto;
			}
			@media screen and (max-width: 650px) {
				padding-left: 0;
			}
			.light-tooltip {
				background: #fff;
				color: #707070;
				font-size: 13px;
				font-weight: 400;
				filter: drop-shadow(0px 4px 10.5px rgba(0, 5, 41, 0.04));
				&::after {
					border-top-color: #fff;
				}
			}
			.link-options {
				border: 1px solid #ebebeb;
				background-color: #fafafa;
				border-radius: 4px;
				margin-bottom: 20px;
				&--open {
					.link-options__head i {
						transform: rotate(0);
					}
					.link-options__body,
					.link-options-info {
						display: block;
					}
				}
				&__head {
					background: #fff;
					padding: 15px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					border: 0;
					cursor: pointer;
					i {
						transition: all 0.3s ease;
						transform: rotate(-90deg);
					}
					&--title {
						font-size: 15px;
						color: #373757;
						font-weight: 700;
						margin: 0;
						text-align: center;
					}
					button {
						border: none;
						box-shadow: none;
						background: transparent;
						color: $secondary-lighten;
						cursor: pointer;
						padding-right: 0;
					}
				}
				&-info {
					display: none;
				}
				&__body {
					display: none;
					padding: 35px 0 15px 20px;
					border-top: 1px solid #ebebeb;
					.btl-checkbox-field {
						margin-bottom: 30px;
						.text {
							font-weight: 400;
							span.dashicons.dashicons-info-outline {
								margin-left: 10px;
								color: #a6a8ad;
							}
						}
					}
				}
				&--advance-keyword,
				&--advanced {
					.link-options__body {
						padding: 20px !important;
					}
					.btl-modal-form-group-password {
						position: relative;

						button.dashicons {
							position: absolute;
							right: 5px;
							font-size: 15px;
						}
						// Thanks to https://gist.github.com/MoOx/9137295 for button style reset css;
						button {
							// resetting button style
							border: none;
							margin: 0;
							padding: 0;
							width: auto;
							overflow: visible;

							background: transparent;

							/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
							line-height: normal;

							/* Corrects font smoothing for webkit */
							-webkit-font-smoothing: inherit;
							-moz-osx-font-smoothing: inherit;

							/* Corrects inability to style clickable `input` types in iOS */
							-webkit-appearance: none;

							&:hover {
								cursor: pointer;
							}

							/* Remove excess padding and border in Firefox 4+ */
							&::-moz-focus-inner {
								border: 0;
								padding: 0;
							}
						}
					}
					.btl-modal-form-group {
						.btl-modal-form-label {
							min-width: 65px !important;
							line-height: 20px;
							font-weight: 400 !important;
							padding-right: 10px !important;
							padding-top: 0 !important;
							padding-bottom: 0 !important;
						}
						input[type='checkbox'] {
							margin-top: 3px;
							margin-left: 3px;
						}
						.btl-modal-form-textarea::placeholder {
							opacity: 0.6;
						}
						input[type='number'],
						input[type='password'],
						input[type='text'],
						textarea {
							background: #fff;
							border-color: #ebebeb;
							width: 100%;
							&:focus {
								border-color: #ebebeb;
								box-shadow: none;
								outline: none;
							}
						}
						select {
							width: 100%;
							border-color: #ebebeb;
							font-size: 14px;
							&:focus {
								border-color: #ebebeb;
								box-shadow: none;
								outline: none;
							}
						}
						.MuiFormControl-root {
							fieldset,
							label {
								display: none;
							}
							.MuiInputBase-root {
								input {
									background: #fff;
									border-color: #ebebeb;
									font-size: 14px;
									&:focus {
										border-color: #ebebeb;
										box-shadow: none;
										outline: none;
									}
								}
							}
						}
					}
				}
				&--advance-keyword {
					.btl-modal-form-group {
						.btl-modal-form-label {
							min-width: 95px !important;
							font-size: 14px;
						}
					}
				}
				&--dynamic-redirect {
					.link-options--teasers {
						margin-top: -15px;
						input[type='text'] {
							width: 100px;
							margin-left: 10px;
							opacity: 0.5;
						}
						input[type='checkbox'] {
							opacity: 0.5;
							margin-left: 35px;
						}
						.link-options-info {
							ul {
								li {
									label {
										font-size: 16px;
									}
								}
							}
						}
					}
				}
				&--teasers {
					.btl-modal-form-group .btl-modal-form-label {
						min-width: 100px !important;
					}
					input[type='checkbox'] {
						background: #e4e4e4;
						cursor: inherit;
					}
					ul {
						li {
							margin-bottom: 10px;
							font-size: 14px;
							strong {
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
	.btl-manage-tags-form .btl-entry-content .btl-entry-content-left {
		width: auto;

		.btl-modal-submit-button {
			min-width: auto;
			font-size: 16px;
			height: 35px;
			padding: 2px 25px;
			font-weight: inherit;
			border-radius: 3px;
		}
	}
	.btl-modal-shorturl-wrap {
		position: relative;
		margin-bottom: 20px;
		.errorlog {
			position: absolute;
			right: 0;
			top: 100%;
			color: red;
		}
	}
	.btl-modal-form-group-submit-medium-device {
		display: none !important;
	}

	@media screen and (max-width: 1023px) {
		.btl-modal-form-group-submit {
			display: none !important;
		}
	}

	@media screen and (max-width: 1023px) {
		.btl-modal-form-group-submit-medium-device {
			display: block !important;
		}
	}

	.btl-modal-form-group {
		display: flex;
		align-items: baseline;
		@media screen and (max-width: 650px) {
			flex-direction: column;
		}
		.btl-modal-form-field-wrapper {
			display: flex;
			width: 100%;
			flex-direction: column;

			.btl-modal-select--full {
				width: inherit;
			}
			> span {
				color: $danger;
			}
		}

		.btl-modal-form-label {
			min-width: 120px;
			width: 150px;
			font-size: 15px;
			font-weight: 500;
			text-align: left;
			padding-right: 0;
			padding-top: 18px;
			padding-bottom: 18px;
			cursor: initial;
			@media screen and (max-width: 650px) {
				margin-bottom: 15px;
				padding-right: 0;
			}
			&.btl-required {
				&:after {
					content: '*';
					margin-left: 2px;
					color: $danger;
				}
			}
		}

		&:has(> .btl-modal-form-field-wrapper, > .extra_info_keywords) .btl-modal-form-label {
			padding-right: 30px;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&.btl-has-utm-button {
			position: relative;
			.btl-modal-form-control {
				padding-right: 83px;
			}
			.btl-utm-button-group {
				position: absolute;
				top: 48%;
				transform: translateY(-50%);
				right: 15px;
				display: flex;
				justify-content: center;
				.btl-utm-button {
					width: 35px;
					height: 25px;
					border: 1px solid $success;
					background: rgba($success, 0.1);
					border-radius: 2px;
					color: $success;
					font-size: 12px;
					padding: 0 10px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					box-sizing: border-box;
					cursor: pointer;
					outline: none;
				}
				.btl-share-button {
					width: 25px;
					height: 25px;
					margin-left: 5px;
					border: 1px solid $success;
					background: rgba($success, 0.1);
					border-radius: 2px;
					color: $success;
					font-size: 12px;
					padding: 0 10px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					box-sizing: border-box;
					cursor: pointer;
					outline: none;
					img {
						width: 13px;
					}
					&--locked {
						position: relative;
						padding: 0;
						img {
							width: 13px;
						}
						.locked {
							position: absolute;
							top: -12px;
							right: -12px;
							width: 20px;
						}
					}
				}
			}
		}

		.btl-modal-form-title-wrapper {
			position: relative;
			width: 72%;

			.btl-modal-form-label-found {
				position: absolute;
				top: 100%;
				padding: 7px;
				background-color: aliceblue;
				width: calc(100% - 10px);
				border-radius: 7px;
				-webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
				box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);

				span.btl-modal-fetced-title {
					font-weight: bold;
				}

				span.btl-modal-title-overwrite {
					display: inline-block;
					color: $light;
					padding: 0px 6px;
					border-radius: 5px;
					margin-right: 3px;
					cursor: pointer;

					&-yes {
						background: #2961ff;
						border: 1px solid #2961ff;
					}
					&-no {
						background-color: red;
					}
				}
			}
		}
	}
	form.is-invalid {
		.btl-modal-form-group > input {
			border: 1px solid red;
		}
		.errorlog {
			margin-bottom: 10px;
			display: block;
			color: red;
			padding-left: 165px;
		}
	}
	textarea.btl-modal-form-control,
	input.btl-modal-form-control {
		flex: 1;
		width: 100%;
		height: 50px;
		min-height: 50px;
		border-radius: 5px;
		background: #fafafa;
		padding: 0 15px;
		border: 1px solid #ebebeb;
		font-size: 16px;
		font-weight: 500;
		outline: none;
		&:focus {
			background: #fff;
			box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
		}
	}
	textarea.btl-modal-form-control {
		padding-top: 15px;
		height: 80px;
	}
	.btl-modal-migration {
		text-align: center;
		&__title {
			font-size: 27px;
			color: $dark;
			margin-top: 0;
			margin-bottom: 25px;
		}
		&__sub-title {
			font-size: 23px;
			color: $dark;
			margin-top: 0;
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__item {
			width: 200px;
			margin: auto;
			display: flex;
			justify-content: center;
			margin-bottom: 25px;
			input {
				width: 25px;
				height: 25px;
				padding: 0 !important;
				text-align: center;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				line-height: 36px;
				margin-right: 15px;
				&[type='checkbox']:checked + label {
					border-color: #003be2;
					color: #003be2;
				}
			}
			label {
				font-size: 21px;
				color: #727272;
			}
		}
		.button.button-primary {
			padding-left: 45px;
			padding-right: 45px;
			height: 45px;
			color: #fff;
			font-size: 15px;
			background-image: linear-gradient(229deg, #2961ff 0%, #003be2 100%);
		}
		#response {
			max-height: 450px;
			overflow-y: scroll;
			font-size: 15px;
			line-height: 33px;
			color: #252525;
			font-weight: 400;
			text-align: left;
			h3 {
				display: flex;
				align-items: center;
				> img {
					margin-left: 5px;
				}
			}
		}
	}
	.btl-modal-select {
		width: 300px;

		@media screen and (max-width: 1023px) {
			width: 100%;
		}
		.btl-react-select__control {
			background-color: #fafafa;
			min-height: 50px;
			border: 1px solid #ebebeb;
			border-radius: 5px;
			.btl-react-select__value-container {
				padding-left: 15px;
				.btl-react-select__single-value {
					font-size: 16px;
					font-weight: 500;
					margin-left: 0;
				}
				.btl-react-select__input {
					input {
						box-shadow: none;
						min-height: 20px;
						height: 20px;
					}
				}
			}
			&.btl-react-select__control--is-focused {
				box-shadow: none;
				background-color: #fff;
			}
		}
	}
	.btl-modal-select--full {
		@extend .btl-modal-select;
		flex: 1;
		// width: 100%;
	}
	.btl-modal-select--mini {
		width: 100%;
		.btl-react-select__control {
			background-color: #fff;
			height: 32px;
			min-height: 32px;
			border: 1px solid #ebebeb;
			border-radius: 4px;
			.btl-react-select__value-container {
				padding: 0 8px;
				.btl-react-select__single-value {
					font-size: 14px;
					font-weight: 400;
					margin-left: 0;
				}
				.btl-react-select__input {
					input {
						box-shadow: none;
						height: 20px;
						min-height: 20px;
					}
				}
			}
			&.btl-react-select__control--is-focused {
				box-shadow: none;
				background-color: #fff;
			}
		}
		.btl-react-select__indicators {
			.btl-react-select__dropdown-indicator {
				padding: 2px;
			}
		}
	}
	.btl-link-field-copyable {
		width: calc(100% - 160px);
		height: 50px;
		border-radius: 5px;
		background: #fafafa;
		border: 1px solid #ebebeb;
		display: flex;
		align-items: center;
		@media screen and (max-width: 650px) {
			width: 100%;
		}
		&.is-invalid {
			position: relative;
			border-color: red;
			.errorlog {
				position: absolute;
				left: 100%;
				top: 35%;
				width: 150px;
				font-weight: 500;
				padding-left: 10px;
				color: red;
			}
		}
		.btl-static-link {
			height: 100%;
			background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
			border-radius: 5px 3px 3px 5px;
			font-size: 16px;
			font-weight: 500;
			padding: 0 10px 0 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			font-style: italic;
			max-width: 200px;
			word-break: break-word;
			@media screen and (max-width: 1599px) {
				font-size: 16px;
			}
			@media screen and (max-width: 1199px) {
				font-size: 14px;
			}
		}
		.btl-dynamic-link {
			background: transparent;
			font-size: 16px;
			font-weight: 500;
			font-style: italic;
			color: $secondary;
			padding: 0 10px;
			border: none;
			box-shadow: none;
			outline: none;
			flex: 1;
			min-width: 105px;
		}
		.btl-link-copy-button {
			width: 20px;
			height: 20px;
			background: transparent;
			cursor: pointer;
			border: none;
			outline: none;
			box-shadow: 0;
			margin-left: 10px;
			margin-right: 15px;
			color: $secondary-lighten;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				color: $dark;
			}
			@media screen and (max-width: 1199px) {
				margin-left: 5px;
				margin-right: 15px;
			}
		}
		&:focus-within {
			background: $white;
			box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
		}
	}
	.btl-checkbox-field {
		display: flex;
		cursor: pointer;
		margin-bottom: 40px;
		.btl-check {
			display: none;
		}
		.text {
			padding-left: 40px;
			position: relative;
			color: $dark;
			font-weight: 500;
			font-size: 16px;
			&:before {
				position: absolute;
				font-family: 'better-links';
				content: '\e90c';
				left: 0;
				font-size: 24px;
				color: $secondary-lighten;
			}
		}
		.btl-check:checked + .text:before {
			content: '\e90e';
			color: $success;
		}
	}
	.btl-modal-submit-button {
		height: 50px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
		border: none;
		outline: none;
		box-shadow: none;
		border-radius: 5px;
		color: $white;
		font-size: 18px;
		font-weight: 500;
		padding: 0 25px;
		min-width: 190px;
		cursor: pointer;
		&:hover {
			box-shadow: 0 22px 42px rgba(#003be2, 0.18);
		}
	}

	.btl-,
	.betterlinks-upgradetopro {
		text-align: center;
		h3 {
			color: rgba(0, 0, 0, 0.65);
			font-weight: 600;
			font-size: 27px;
		}
		p {
			a {
				color: #e64942;
				font-weight: 600;
			}
		}
		.btn-close {
			background: #e64942;
			color: #fff;
			padding: 10px 20px;
			border: 0;
			border-radius: 4px;
			cursor: pointer;
			float: right;
		}
	}
	.betterlinks-preview-modal {
		.btn-close {
			background: #e64942;
			color: #fff;
			padding: 10px 20px;
			border: 0;
			border-radius: 4px;
			cursor: pointer;
			float: right;
		}
	}
	.btl-qrcode-modal {
		.betterlinksqrcode {
			margin-bottom: 30px;
		}
		.btl-qrcode-modal__note {
			width: 300px;
			text-align: center;
		}
		.btn-qrcode-download {
			position: absolute;
			left: 50%;
			bottom: -50px;
			width: 100px;
			height: 100px;
			margin-left: -50px;
			font-size: 30px;
			line-height: 100px;
			border-radius: 50%;
			text-decoration: none;
			text-align: center;
			color: #fff;
			background: #2a62ff;
			box-shadow: (0px 5px 45px rgba(0, 9, 78, 0.13));
			z-index: 9999;
		}
	}
	.btl-analytic-advanced-search {
		h3 {
			color: $white;
		}

		.link-options__body {
			display: flex;

			.btl-checkbox-field .text {
				padding-left: 30px;
				margin-right: 10px;
			}
		}
	}
}
.MuiDialog-root {
	z-index: 999999 !important;
	// 2
}

.btl-regenerate-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.btl-icon {
		height: 80px;
		width: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 100%;
		}
	}
	h2 {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 0;
		color: #373757;
		&:not(:first-child) {
			margin-top: 30px;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	.btl-modal-submit-button {
		padding: 0 15px;
		min-width: 150px;
		height: 44px !important;
		font-size: 16px;
		background: rgba($success, 0.05);
		color: $success;
		border: 1px solid $success;
		transition: 0.3s;
		&:hover {
			background: $success;
			color: $white;
		}
	}
}

//  uncloak checkbox teaser - start
.ReactModal__Content .btl-checkbox-field.link-options--teasers .text:before {
	color: #e4e4e4;
	background: #e4e4e4;
	padding: 2px 0px;
}
//  uncloak checkbox teaser - end
