.ReactModal__Content {
	background-color: #252f47 !important;
	border-color: #36405a !important;
	.btl-close-modal {
		color: $white;
	}
	.btl-entry-content {
		.btl-entry-content-right {
			.light-tooltip {
				background: #536082;
				color: $white;
				&::after {
					border-top-color: #536082;
				}
			}
			.link-options {
				border-color: #202b42;
				background-color: #202b42;
				&__head {
					border-color: #202b42;
					background: #36405a;
					&--title {
						color: $white;
					}
				}
				&__body {
					.btl-checkbox-field {
						.text {
							span.dashicons.dashicons-info-outline {
								color: #818caa;
							}
						}
					}
				}
			}
			.link-options--advanced{
				.btl-modal-form-group {
					align-items: center!important;
					.btl-modal-form-label {
						color: #b2b3bd;
					}
					input[type="text"]{
						background: #36405a;
						color: #fff;
						border-color: #36405a;
						&:focus {
							background: #36405a;
							box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
						}
						&::placeholder {
							color: #b0b2ba;
						}
					}
					select{
						background-color: #36405a !important;
						border-color: #36405a !important;
						color: #fff;
						&:focus{
							border-color: #ebebeb;
							box-shadow: none;
							outline: none;
						}
					}
					.MuiFormControl-root{
						.MuiInputBase-root{
							input{
								background: #36405a;
								color: #fff;
								border-color: #36405a;
								&:focus {
									background: #36405a;
									box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
								}
								&::placeholder {
									color: #b0b2ba;
								}
							}
						}
					}
				}
			}
			
		}
	}
	.btl-modal-form-group {
		.btl-modal-form-label {
			color: $white;
			&.btl-required {
				&:after {
					color: $danger;
				}
			}
		}
	}
	textarea.btl-modal-form-control,
	input.btl-modal-form-control {
		background: #36405a;
		color: $white;
		border-color: #36405a;
		&:focus {
			background: #36405a;
			box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
		}
		&::placeholder {
			color: $secondary-lighten;
		}
	}
	.btl-modal-migration {
		&__title {
			color: #fff;
		}
		&__sub-title {
			color: #fff;
		}
		label {
			color: #fff;
		}
		h3 {
			color: #fff;
		}
		#response {
			color: #fff;
		}
	}
	.btl-modal-select {
		.btl-react-select__control {
			background-color: #36405a !important;
			border-color: #36405a !important;
			.btl-react-select__value-container {
				.btl-react-select__single-value {
					color: $white;
				}
				.btl-react-select__input {
					input {
						color: $white !important;
					}
				}
			}
			&.btl-react-select__control--is-focused {
				background-color: #36405a !important;
			}
			.btl-react-select__placeholder {
				color: $white;
			}
		}
		.btl-react-select__multi-value {
			background: #252f47 !important;
			.btl-react-select__multi-value__label {
				color: $white !important;
			}
			.btl-react-select__multi-value__remove {
				svg {
					color: $white;
				}
				&:hover {
					svg {
						color: red;
					}
				}
			}
		}
		.btl-react-select__indicators {
			.btl-react-select__indicator-separator {
				background-color: #666182;
			}
			.btl-react-select__indicator {
				color: $white;
			}
		}
	}
	.btl-link-field-copyable {
		background: #36405a;
		border: 1px solid #36405a;
		.btl-dynamic-link {
			color: $white;
		}
		.btl-link-copy-button {
			color: #bccbee;
			&:hover {
				color: $white;
			}
		}
		&:focus-within {
			background: #36405a;
		}
	}
	.btl-checkbox-field {
		.text {
			color: #b2b3bd;
			&:before {
				color: #9596b1;
			}
		}
	}
	.btl-modal-submit-button {
		height: 50px;
		background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
		color: $white;
		&:hover {
			box-shadow: 0 22px 42px rgba(#003be2, 0.18);
		}
	}
    .btl-utm-button,
    .btl-share-button{
        color: $white!important;
        border-color: $white!important;
    }
}
.btl-modal-utm-builder{
    .btl-modal-utm-builder__title{
        color: $white;
    }
    .btl-modal-utm-builder__body{
        .btl-modal-utm-builder__form-group{
            > label{
                color: #fff;
            }
            textarea,
            input[type='text'] {
                background: #36405a;
                color: $white;
                border-color: #36405a;
                &:focus {
                    background: #36405a;
                    box-shadow: 0 10px 15px rgba(#1a163d, 0.06);
                }
                &::placeholder {
                    color: $secondary-lighten;
                }
            }
        }
    }
}

#savedtemplate{
    border-color: $success!important;
    color: $white!important;
}
.betterlinks-upgradetopro{
    color: $light;
    h3{
        color: $white;
    }
}