.topbar {
	border-color: #36405a;
	background-color: #2c3650;
	.btl-view-control {
		.btl-link-view-toggler {
			border-color: #738bb8;
			background: #2c3650;
			color: #738bb8;
			&.active,
			&:hover,
			&:hover {
				background: $success;
				cursor: pointer;
				color: $white;
				border-color: $success;
			}
		}
	}
	.theme-mood-button {
		border-color: #738bb8;
	}
}

.dnd-category-wrapper {
	.dnd-category {
		.category-head {
			background: #3d4863;
			border-color: #252f47;
			.title {
				color: $white;
			}
		}
		.dnd-category-body-wrap {
			background: #252f47;
		}
		.category-body {
			&::-webkit-scrollbar-track {
				background: rgba($secondary-lighten, 0.4);
			}
			&::-webkit-scrollbar-thumb {
				background: $secondary-lighten;
			}
		}
		.category-footer {
			.btl-create-link-button {
				background: #536082;
				color: #252f47;
				&:hover {
					background: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
					color: $white;
					box-shadow: 0 22px 42px rgba(#003be2, 0.18);
				}
			}
		}
	}
	.dnd-create-category {
		background: $dark-mood-darken;
		.dnd-create-category-text {
			color: $white;
		}
	}
}

.btl-dnd-link {
	background-color: #36405a;
	.btl-dnd-link-body {
		.dnd-link-title {
			color: $white;
			&:before {
				color: darken($secondary-lighten, 10%);
			}
		}
		.btl-dnd-link-button-group {
			.light-tooltip {
				background: #536082;
				color: $white;
				filter: drop-shadow(0px 4px 10.5px rgba(0, 5, 41, 0.04));
				&::after {
					border-top-color: #536082;
				}
			}
			.dnd-link-button {
				color: #697690;
				&:hover {
					color: $white;
				}
			}
		}
	}
	.btl-confirm-message {
		background: #36405a;
		.action-text {
			color: $light-darken;
		}
		.action-set {
			.action {
				color: $white;
				&.yes {
					background: $success-lighten;
				}
				&.no {
					background: $danger;
				}
			}
		}
	}
}

.btl-form-control {
	background: #36405a;
	color: $white;
	border-color: #36405a;
	&::placeholder {
		color: $secondary-lighten;
	}
}
.dropdown {
	.dropdown-menu {
		background: #536082;
		ul {
			li {
				&:not(:last-child) {
					border-color: #5e6983;
				}
			}
		}
		.link {
			background: #536082;
			color: $light-darken;
			&:hover {
				color: $white;
			}
			&.delete {
				&:hover {
					color: $danger;
				}
			}
		}
		.btl-confirm-message {
			.action-text {
				color: $light-darken;
			}
			.action-set {
				.action {
					color: $white;
					&.yes {
						background: $success-lighten;
					}
					&.no {
						background: $danger;
					}
				}
			}
		}
	}
}

.btl-analytics-heading {
	color: $white;
}
.btl-analytics-filter__heading {
	color: $white;
}

.btl-analytic {
	background: #252f47;
	border-color: #252f47;
	color: $white;
	.btl-analytics-chart {
		border-color: #252f47;
	}
}
.btl-analytic-table-wrapper {
	.rdt_TableHeader {
		background: #252f47;
		color: $white;
	}
	.sc-idOhPF {
		background: #252f47;
		.btl-click-filter {
			input {
				background: #252f47;
				border-color: #36405a;
				color: $white;
				&::placeholder {
					color: $light-darken;
				}
			}
		}
	}
	.sc-bBXqnf {
		background: #252f47;
		color: $white;
	}
	.btl-analytic-table {
		background: #252f47;
		color: $white;
		.rdt_TableCol_Sortable {
			div {
				color: $white;
			}
		}
		.rdt_TableHeadRow,
		.rdt_TableRow {
			background: #252f47;
			color: $white;
			.rdt_TableCol {
				color: $white;
				.rdt_TableCol_Sortable {
					color: $white;
					&:hover {
						color: $white;
					}
				}
			}
		}
		a {
			color: $white;
			&:hover {
				color: $white;
			}
		}
	}
	.rdt_Pagination {
		background-color: #252f47;
		color: $white;
		.sc-giIncl {
			.sc-iJuUWI {
				svg {
					fill: $white;
				}
			}
		}
	}
}

.react-date-picker {
	.react-date-picker__wrapper {
		border-color: #36405a;
		.react-date-picker__inputGroup {
			.react-date-picker__inputGroup__input {
				color: $white;
			}
		}
	}
}

// for tab
.react-tabs__tab-list {
	.react-tabs__tab {
		background-color: #2c3650;
		color: $white;
		&.react-tabs__tab--selected {
			background-color: #252f47;
		}
	}
}
.btl-tab-panel-inner {
	background: #2c3650;
}
.btl-tab-panel-inner .btl-tab-panel-header {
	color: #fff;
}

// form data
.btl-form-group {
	.btl-form-label {
		color: $light-darken;
	}
	.btl-select {
		width: 300px;
		.btl-react-select__control {
			background-color: #36405a;
			border: 1px solid #36405a;
			&.btl-react-select__control--is-focused {
				background-color: #36405a;
			}
		}
	}
}
.btl-checkbox-field {
	.text {
		color: $white;
	}
	.btl-check:checked + .text:before {
		color: lighten($success, 10%);
	}
}
.btl-radio-group .btl-radio input + span {
	color: $secondary-lighten;
}
.btl-radio-group .btl-radio input:checked + span {
	color: $white;
}
.btl-file-chooser label {
	color: $white;
}
.btl-file-chooser input {
	color: $white;
}

.btl-list-view {
	.sc-idOhPF {
		.btl-links-filter,
		.btl-bulk-actions {
			display: flex;
			flex-wrap: wrap;
		}
		.btl-links-filter {
			margin-right: 12px;
			.btl-click-filter {
				border-color: #2c3650;
				background-color: #2c3650;
				color: $light;
				input {
					color: $white;
					&::placeholder {
						color: $light;
					}
				}
				&:before {
					color: $light;
				}
			}
			.btl-list-view-select {
				.btl-react-select__control {
					background-color: #2c3650;
					border-color: #2c3650;
					.btl-react-select__input {
						input {
							color: $light !important;
						}
					}
					.btl-react-select__placeholder {
						color: $light;
					}
					.btl-react-select__single-value {
						color: $white;
					}
					.btl-react-select__indicators {
						.btl-react-select__indicator {
							svg {
								fill: $light;
							}
						}
					}
				}
			}
			.btl-link-input-field {
				background-color: #2c3650;
				border-color: #2c3650;
				color: $white;
				&::placeholder {
					color: $light;
				}
			}
		}
		.btl-bulk-actions {
			.btl-list-view-select {
				.btl-react-select__control {
					background-color: #2c3650;
					border-color: #2c3650;
					.btl-react-select__input {
						input {
							color: $light !important;
						}
					}
					.btl-react-select__placeholder {
						color: $light;
					}
					.btl-react-select__single-value {
						color: $white;
					}
					.btl-react-select__indicators {
						.btl-react-select__indicator {
							svg {
								fill: $light;
							}
						}
					}
				}
			}
			.btl-link-apply-button {
				background-color: #2c3650;
				&:hover {
					background-image: linear-gradient(202deg, #2961ff 0%, #003be2 100%);
					border-color: transparent;
					color: $white;
					box-shadow: 0 22px 42px rgba(#003be2, 0.18);
				}
			}
		}
	}
	.btl-list-view-table {
		.rdt_Table {
			background-color: transparent;
			.rdt_TableHead {
				margin-bottom: 12px;
				.rdt_TableHeadRow {
					border: 1px solid $light-darken;
					background: $white;
					border-radius: 5px;
					min-height: 65px;
					.rdt_TableCol {
						.rdt_TableCol_Sortable {
							color: $dark;
							font-size: 15px;
							font-weight: 700;
							&:hover {
								color: $dark;
							}
						}
					}
				}
			}
			.rdt_TableBody {
				.rdt_TableRow {
					margin-bottom: 12px;
					min-height: 65px;
					border: 1px solid $light-darken;
					border-radius: 5px;
					box-shadow: 0 3px 4px rgba(#00094e, 0.03);
					.rdt_TableCell {
						div {
							font-size: 15px;
							color: $secondary;
						}
						.btl-link-title {
							font-size: 15px;
							font-weight: 700;
							color: $dark;
							line-height: 1.25;
						}
						.btl-short-url-wrapper {
							display: flex;
							align-items: center;
							padding: 5px 0;
							flex-wrap: nowrap;
							.btl-short-url {
								font-size: 14px;
								background: rgba($success, 0.05);
								font-weight: 700;
								padding: 2px 12px;
								min-height: 26px;
								max-width: 310px;
								border: 1.5px solid $success;
								border-radius: 5px;
								color: $success;
								display: inline-flex;
								align-items: center;
							}
							.btl-short-url-copy-button {
								border: none;
								outline: none;
								background: transparent;
								padding: 5px;
								font-size: 18px;
								color: $success;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}
	.rdt_Pagination {
		background: transparent;
		border: none;
		.sc-cxFLnm {
			svg {
				display: none;
			}
		}
		.sc-giIncl {
			.sc-iJuUWI {
				padding: 0px;
				border-radius: 4px;
				height: 24px;
				width: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 2px;
				svg {
					height: 20px;
					width: 20px;
					fill: $dark;
				}
				&:disabled {
					svg {
						fill: $secondary;
					}
				}
				&:hover {
					background: #0742e7;
					svg {
						fill: #fff;
					}
				}
			}
		}
	}
}
