.btl-form-group{
  &:not(:last-child){
    margin-bottom: 15px;
    display: flex;
  }
}
.btl-form-control{
  height: 44px;
  border-radius: 5px;
  background: $light;
  padding: 0 10px;
  width: 100%;
  border: 1px solid $light;
  &:focus{
    border: 1px solid $light-darken;
    outline: none;
  }
}
.btl-create-category-submit{
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background: linear-gradient(to left, $success, $success-lighten);
  color: $white;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: box-shadow 0.2s ease;
  &:focus{
    border: none;
    outline: none;
    box-shadow: none;
  }
  &:hover{
    box-shadow: 0 5px 10px rgba(#03623c, 0.15);
  }
}


.dropdown{
  position: relative;
  .dropdown-menu{
    position: absolute;
    top: calc( 100% + 10px );
    right: -5px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 10px 22px rgba($dark, 0.18);
    width: 110px;
    z-index: 999;
    ul{
      margin: 0;
      list-style: none;
      li{
        margin: 0;
        &:not(:last-child){
          border-bottom: 1px solid $light-darken;
        }
      }
    }
    .link{
      border: none;
      outline: none;
      box-shadow: none;
      padding: 9px 20px;
      width: 100%;
      text-align: left;
      background: $white;
      font-size: 15px;
      color: $secondary;
      cursor: pointer;
      font-weight: 500;
      &:hover{
        color: $dark;
      }
      &.delete{
        &:hover{
          color: $danger;
        }
      }
    }
    .btl-confirm-message{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      .action-text{
        margin-top: 0;
        margin-bottom: 10px;
        color: $secondary;
        font-weight: 500;
      }
      .action-set{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .action{
          padding: 3px 5px;
          border: 0;
          outline: 0;
          box-shadow: 0;
          color: $white;
          width: 45%;
          border-radius: 2px;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          &.yes{
            background: $success-lighten;
          }
          &.no{
            background: $danger;
          }
        }
      }
    }
  }
}