$dark: #252525;
$light: #f7f8fa;
$light-darken: #ebebeb;
$black: #000;
$white: #fff;
$secondary: #707070;
$secondary-darken: #6e7178;
$secondary-lighten: #b0b2ba;
$success: #1bcba0;
$success-lighten: #33db8d;
$danger: #F97272;